examples/corpus/batch_003_public_100/categories/sales/workflows/13958-score-linkedin-comments-and-draft-replies-with-azure-openai-and-google-sheets.json
{
  "id": "Hm5P4vj1Axhyb45F",
  "meta": {
    "instanceId": "8443f10082278c46aa5cf3acf8ff0f70061a2c58bce76efac814b16290845177"
  },
  "name": "Comment Analyse and Reporter",
  "tags": [],
  "nodes": [
    {
      "id": "c1030dc3-114e-4e80-97d6-92f9505aabe9",
      "name": "Sticky Note – Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        3264
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 486,
        "content": "# Workflow Overview\n\n**Comment Analyse and Reporter**\n\nThis workflow automates LinkedIn comment monitoring, lead intent scoring, AI reply drafting, and media team reporting.\n\n## Flow Summary\n1. **Pipeline 1 — Scrape & Score:** Every 15 min, search LinkedIn for Techdome posts → fetch comments → AI intent analysis → save to Google Sheet\n2. **Pipeline 2 — Reply Drafting:** Triggered on new Sheet rows → AI drafts reply → written back to Sheet\n3. **Pipeline 3 — Reporting:** Triggered on approved replies → build email report → send to media team\n\n---\n**Owner:** Automation Team\n**Environment:** Production\n**Last Updated:** June 2026\n**Related Sheet:** [Post Scraping – Sheet2](https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit)"
      },
      "typeVersion": 1
    },
    {
      "id": "d5138efd-dfb7-48d0-80a0-0bf73286fa2a",
      "name": "Sticky Note – Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        2912
      ],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 408,
        "content": "# 🕐 Trigger — Scheduled Scrape\n\nRuns every **15 minutes** to search for new LinkedIn posts mentioning Techdome or its employees.\n\n- Polling interval is intentional — SerpAPI has rate limits and LinkedIn scraping must be throttled\n- Adjust interval in the Cron settings if API quota is exceeded\n- **Requires:** SerpAPI credentials configured in n8n"
      },
      "typeVersion": 1
    },
    {
      "id": "d63aa7e1-ff9b-4e52-b134-7c39ef0f25ec",
      "name": "Sticky Note – SerpAPI Search",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        3328
      ],
      "parameters": {
        "color": 5,
        "width": 340,
        "height": 454,
        "content": "# 🔍 LinkedIn Post Search\n\nUses SerpAPI to query Google for LinkedIn posts matching Techdome brand keywords.\n\n**Current query targets:**\n- `\"Techdome\"` brand mentions\n- `\"Employee of techdome\"` staff posts\n\n## ⚠️ Important\n- SerpAPI free tier: ~100 searches/month — monitor usage\n- Query can be expanded with additional OR terms for broader coverage\n- Results include organic, inline, discussion, and forum results"
      },
      "typeVersion": 1
    },
    {
      "id": "e8ac2836-bb2e-4513-9df6-fd6d86d941b6",
      "name": "Sticky Note – Parse & Filter",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        2672
      ],
      "parameters": {
        "color": 3,
        "width": 360,
        "height": 427,
        "content": "# 🧹 Parse & Filter Search Results\n\nNormalizes raw SerpAPI output and filters posts by platform and problem signal.\n\n**Logic applied:**\n- Merges `organic_results`, `inline_results`, `discussions`, and `forums`\n- Detects LinkedIn vs Reddit posts via URL pattern matching\n- Scans title/snippet for 16 problem-signal keywords (e.g. `struggling`, `ghosted`, `failing`)\n- Removes posts with no resolvable URL\n\n**Output:** Clean list of posts with `is_problem_post` flag for downstream filtering"
      },
      "typeVersion": 1
    },
    {
      "id": "ac5159e8-c0f6-4436-b4ea-05618027339a",
      "name": "Sticky Note – Fetch Comments",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        3328
      ],
      "parameters": {
        "color": 5,
        "width": 360,
        "height": 443,
        "content": "# 🔗 Fetch Post Comments\n\nUses **ConnectSafely LinkedIn API** to pull all comments for each identified post URL.\n\n## ⚠️ Warning\n- Requires a valid ConnectSafely account ID — update `accountId` if credentials rotate\n- Only processes posts that have a valid `post_url` from the previous node\n- LinkedIn rate limits apply — do not run this pipeline more frequently than every 5 minutes in production\n- **Dependency:** ConnectSafely credential must be active in n8n credentials store"
      },
      "typeVersion": 1
    },
    {
      "id": "17f83bc6-214b-4c10-9f60-ff40e6bb20c2",
      "name": "Sticky Note – Flatten Comments",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        2656
      ],
      "parameters": {
        "color": 3,
        "width": 340,
        "height": 496,
        "content": "# 📋 Flatten Comments into Rows\n\nExplodes nested comment arrays so each comment becomes an individual item for AI processing.\n\n**Fields extracted per comment:**\n- `postUrl`, `activityUrn`, `postContent`\n- `commentId`, `commentText`, `commenterName`\n- `commenterProfileUrl`, `commenterUrn`\n- `createdAt`, `likeCount`, `replyCount`, `isProfile`\n\nOne post with 10 comments produces 10 output items — each scored independently by the AI agent downstream."
      },
      "typeVersion": 1
    },
    {
      "id": "8820b3ef-38ea-4c0f-965b-cb2a5d02fed0",
      "name": "Sticky Note – AI Intent Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        2592
      ],
      "parameters": {
        "color": 2,
        "width": 380,
        "height": 534,
        "content": "# 🤖 AI Sentiment & Intent Detection\n\nPowered by **Azure OpenAI (GPT-4o-mini)** via LangChain agent.\n\n## Scoring Scale\n| Score | Label |\n|-------|-------|\n| 0–20 | No intent |\n| 21–40 | Passive interest |\n| 41–60 | Problem-aware |\n| 61–80 | Solution-aware |\n| 81–100 | High buying intent |\n\n## Key Behaviours\n- Conservative scoring — avoids inflating intent\n- All records returned (even low-intent) for audit trail\n- Output must be strict JSON — no extra text\n- Model: `gpt-4o-mini` (cost-optimized for high-volume comment analysis)"
      },
      "typeVersion": 1
    },
    {
      "id": "a0d879b9-9521-40b3-87ea-3f472b85b62a",
      "name": "Sticky Note – Parse Sentiment Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        3408
      ],
      "parameters": {
        "color": 3,
        "width": 340,
        "height": 402,
        "content": "# 🧩 Parse Sentiment Output\n\nSafely parses the AI agent's JSON string output into structured fields.\n\n**Why this node exists:**\n- LangChain agents return output as a raw string, not structured JSON\n- Items with missing or malformed `output` are silently skipped to prevent pipeline crashes\n- Null-safe extraction prevents downstream Google Sheets write failures\n\n**Output fields:** `postUrl`, `leadName`, `comment`, `intentScore`, `intentLabel`"
      },
      "typeVersion": 1
    },
    {
      "id": "c5d17676-b599-4b30-8016-047d8e6b7899",
      "name": "Sticky Note – Save to Sheet",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        2640
      ],
      "parameters": {
        "color": 5,
        "width": 360,
        "height": 486,
        "content": "# 📊 Save to Google Sheet\n\nAppends scored comment records to **Sheet2** of the Post Scraping spreadsheet.\n\n**Columns written:**\n- `post_url`, `lead name`, `comment`, `intent score`, `intent label`\n\n## ⚠️ Important\n- Uses **append** mode — rows are never overwritten here\n- Duplicate comments may appear if the trigger fires before scraping catches up — add deduplication logic if this becomes an issue\n- **Credential required:** Google Sheets OAuth must be active"
      },
      "typeVersion": 1
    },
    {
      "id": "aeb31332-8a06-433d-9e93-9f11aa6b30e3",
      "name": "Sticky Note – Pipeline 2 Header",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        4160
      ],
      "parameters": {
        "color": 7,
        "width": 900,
        "height": 210,
        "content": "# ── PIPELINE 2: AI REPLY DRAFTING ──\n\nTriggered independently when new rows appear in Sheet2.\n\n**Flow:**\n`Sheet Trigger` → `AI Reply Agent` → `Format Output` → `Write Reply to Sheet`\n\nThis pipeline runs in parallel to Pipeline 1 and is decoupled by design — reply drafting does not block the scraping loop."
      },
      "typeVersion": 1
    },
    {
      "id": "f5319209-fe07-4236-81a2-689ca3374628",
      "name": "Sticky Note – Sheet Trigger P2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        4240
      ],
      "parameters": {
        "color": 4,
        "width": 340,
        "height": 466,
        "content": "# 📡 Sheet Trigger — New Comment Rows\n\nPolls **Sheet2** every minute and fires when new rows are detected.\n\n## ⚠️ Warning\n- Polling every minute increases Google Sheets API calls significantly\n- If Sheet2 receives many rows simultaneously, the AI agent will be called once per row — monitor Azure OpenAI token usage\n- Consider batching rows if volume is high"
      },
      "typeVersion": 1
    },
    {
      "id": "457c4765-5446-47b4-8e5a-1ef74ba9c8f7",
      "name": "Sticky Note – Reply Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        3792
      ],
      "parameters": {
        "color": 2,
        "width": 380,
        "height": 458,
        "content": "# 🤖 AI Reply Drafting Agent\n\nGenerates contextually appropriate replies based on each comment's sentiment and intent score.\n\nPowered by **Azure OpenAI (GPT-4o-mini)**.\n\n## ⚠️ Action Required\n- The current prompt (`\"Draft a suitable reply for the commentes for proper sentiments\"`) is a placeholder — update it with specific brand voice, tone guidelines, and reply constraints\n- Include intent label in the prompt so replies are tailored to lead scoring tier\n- Add a system message defining Techdome's communication style"
      },
      "typeVersion": 1
    },
    {
      "id": "7d73d55e-38e5-430b-9674-2e211f36695a",
      "name": "Sticky Note – Format Reply",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        3856
      ],
      "parameters": {
        "color": 4,
        "width": 360,
        "height": 418,
        "content": "# 🔧 Format Reply for Sheet Update\n\nPrepares the AI-generated reply for writing back to Google Sheets.\n\n## ⚠️ Action Required\n- Current code only adds a placeholder field (`myNewField = 1`) — this is **not production-ready**\n- Replace with logic that maps the AI reply to the correct Sheet column\n- Ensure the row identifier (e.g. `commentId`) is preserved so the update targets the correct row"
      },
      "typeVersion": 1
    },
    {
      "id": "3676c24e-438f-4006-92bb-390e6db2798d",
      "name": "Sticky Note – Write Reply",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        4272
      ],
      "parameters": {
        "color": 5,
        "width": 340,
        "height": 376,
        "content": "# 📝 Write AI Reply to Sheet\n\nUpdates or appends the drafted reply back into Sheet2 alongside the original comment row.\n\n- Uses **appendOrUpdate** mode — requires a matching column key to avoid creating duplicate rows\n- Confirm `matchingColumns` is configured correctly before going live\n- **Credential required:** Google Sheets OAuth (same account as save node in Pipeline 1)"
      },
      "typeVersion": 1
    },
    {
      "id": "e0b8d225-02d4-48e9-ae25-6b2e58dc2495",
      "name": "Sticky Note – Pipeline 3 Header",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        4768
      ],
      "parameters": {
        "color": 7,
        "width": 700,
        "height": 321,
        "content": "# ── PIPELINE 3: MEDIA TEAM REPORTING ──\n\nTriggered when a reply is approved in the Sheet. Builds and sends an HTML email report to the media team.\n\n**Flow:**\n`Approved Reply Trigger` → `Build Email Report` → `Send Gmail Report`\n\nThis stage assumes a human review step happens in the Sheet before triggering — the approval column/status must be defined in the Sheet for this trigger to work correctly."
      },
      "typeVersion": 1
    },
    {
      "id": "c23d4980-f755-41ee-bc2f-3f283cafd6e3",
      "name": "Sticky Note – Approved Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        4816
      ],
      "parameters": {
        "color": 4,
        "width": 340,
        "height": 418,
        "content": "# 📡 Sheet Trigger — Approved Replies\n\nPolls Sheet2 every minute and fires when a row is marked as approved by the media team.\n\n## ⚠️ Warning\n- The Sheet must have an explicit **approval column** (e.g. `approved = TRUE`) for this trigger to distinguish new vs. approved rows\n- Without a filter, this trigger will fire on every new row — verify trigger conditions match your Sheet structure"
      },
      "typeVersion": 1
    },
    {
      "id": "b48e8eb6-98b7-4a8f-ac6a-f5f652d1f099",
      "name": "Sticky Note – Build Report",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        4992
      ],
      "parameters": {
        "color": 4,
        "width": 360,
        "height": 417,
        "content": "# 📧 Build Media Team Email Report\n\nFormats the approved reply data into an HTML email body for the media team.\n\n## ⚠️ Action Required\n- Current code only adds a placeholder field (`myNewField = 1`) — the email body is **not yet implemented**\n- Replace with HTML template that includes: lead name, comment, intent score, intent label, and drafted reply\n- Consider grouping multiple approvals into a single digest email to reduce inbox noise"
      },
      "typeVersion": 1
    },
    {
      "id": "48980f3b-4834-4628-a7e2-9f06e119245c",
      "name": "Sticky Note – Send Email",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        4768
      ],
      "parameters": {
        "color": 4,
        "width": 360,
        "height": 491,
        "content": "# 📤 Send Email Report to Media Team\n\nDelivers the formatted HTML report via **Gmail** to the media team inbox.\n\n## ⚠️ Action Required\n- Update `sendTo` from `info@example.com` to the actual media team distribution address\n- Replace `<Your Subject>` with a dynamic subject (e.g. `LinkedIn Reply Approved – {{ $json.leadName }}`)\n- Replace `<HTML File>` with the rendered HTML from the Build Report node\n- **Credential required:** Gmail OAuth must be connected and authorised"
      },
      "typeVersion": 1
    },
    {
      "id": "ddb020fc-4814-4e9a-b5e1-065755fdd79c",
      "name": "Trigger Every 15 Minutes1",
      "type": "n8n-nodes-base.cron",
      "position": [
        -432,
        3152
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "6e39dde7-6e76-4515-91c4-730726226e75",
      "name": "AI Sentiment & Intent Detection Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        688,
        3152
      ],
      "parameters": {
        "text": "=Analyze the following LinkedIn comment and identify lead intent.\n\nPost URL:\n{{ $json.postUrl }}\n\nPost Content:\n{{ $json.postContent }}\n\nCommenter Name:\n{{ $json.commenterName }}\n\nComment Text:\n{{ $json.commentText }}\n\nReturn the result in the following JSON format ONLY:\n\n{\n  \"postUrl\": \"{{ $json.postUrl }}\",\n  \"leadName\": \"{{ $json.commenterName }}\",\n  \"comment\": \"{{ $json.commentText }}\",\n  \"intentScore\": number,\n  \"intentLabel\": \"no-intent | passive-interest | problem-aware | solution-aware | high-intent\"\n}\n",
        "options": {
          "systemMessage": "=You are a B2B sales intent detection agent.\n\nYour job is to analyze LinkedIn post context and comment text to identify whether the commenter shows buying intent, problem awareness, or decision-maker interest.\n\nYou must:\n- Use ONLY the data provided in the input\n- Infer intent from wording, tone, and relevance to the post\n- Be conservative: do not hallucinate intent\n- Prefer precision over recall\n\nScoring rules:\n- 0–20 → No intent (generic praise, agreement, emojis)\n- 21–40 → Passive interest (thoughtful comment, but no problem ownership)\n- 41–60 → Problem-aware (mentions pain points, challenges, or agreement with problem)\n- 61–80 → Solution-aware (implies need for solution, improvement, or optimization)\n- 81–100 → High buying intent (clear ownership, decision role, desire to act)\n\nIf intent is below 30, still return the record but mark it as \"low-intent\".\n\nOutput MUST be valid JSON and follow the exact schema provided.\nDo not add explanations or extra text.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "223d3064-a1ff-4c59-9238-f33992caad03",
      "name": "Parse Sentiment & Score Output1",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        3152
      ],
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  // Skip empty or invalid outputs safely\n  if (!item.json.output) continue;\n\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.output);\n  } catch (e) {\n    // If parsing fails, skip this record\n    continue;\n  }\n\n  results.push({\n    json: {\n      postUrl: parsed.postUrl || null,\n      leadName: parsed.leadName || null,\n      comment: parsed.comment || null,\n      intentScore: parsed.intentScore ?? null,\n      intentLabel: parsed.intentLabel || null\n    }\n  });\n}\n\nreturn results;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "e8a900a4-2335-4497-8fe8-a503556180ef",
      "name": "Save Comments & Sentiment to Google Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1264,
        3152
      ],
      "parameters": {
        "columns": {
          "value": {
            "comment": "={{ $json.comment }}",
            "post_url": "={{ $json.postUrl }}",
            "lead name": "={{ $json.leadName }}",
            "intent label": "={{ $json.intentLabel }}",
            "intent score": "={{ $json.intentScore }}"
          },
          "schema": [
            {
              "id": "post_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "post_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lead name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "lead name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "comment",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "intent score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "intent score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "intent label",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "intent label",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1996970241,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit#gid=1996970241",
          "cachedResultName": "Sheet2"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit?usp=drivesdk",
          "cachedResultName": "Post Scraping"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "b303bfe5-aed4-44ca-a00c-2b3d9b78091e",
      "name": "Watch Sheet for New Comment Rows1",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -80,
        4384
      ],
      "parameters": {
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1996970241,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit#gid=1996970241",
          "cachedResultName": "Sheet2"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit?usp=drivesdk",
          "cachedResultName": "Post Scraping"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a277656c-25dc-43d4-97fb-aa97702a0669",
      "name": "AI Reply Drafting Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        144,
        4272
      ],
      "parameters": {
        "text": "Draft a suitable reply for the commentes for proper sentiments",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "f9a5fdd8-9200-4ff0-9e3b-3b77d66db937",
      "name": "Format Reply for Sheet Update1",
      "type": "n8n-nodes-base.code",
      "position": [
        496,
        4384
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "2646c841-cfa9-4ccb-89be-28f73f5bfe95",
      "name": "Write AI Reply Back to Google Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        720,
        4384
      ],
      "parameters": {
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1996970241,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit#gid=1996970241",
          "cachedResultName": "Sheet2"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit?usp=drivesdk",
          "cachedResultName": "Post Scraping"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "71d543a8-9b5b-4288-a062-567eb102218d",
      "name": "Watch Sheet for Approved Replies1",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -112,
        4800
      ],
      "parameters": {
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1996970241,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit#gid=1996970241",
          "cachedResultName": "Sheet2"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hXDNE90IFbXLgyLt2XwSHgI_9sASzTSM9LAA4cUDFj4/edit?usp=drivesdk",
          "cachedResultName": "Post Scraping"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fd64ecb0-4dcd-4e95-8b61-3ae0d92752d1",
      "name": "Build Media Team Email Report1",
      "type": "n8n-nodes-base.code",
      "position": [
        112,
        4800
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "aecf7a02-53a7-415e-888b-f07cb26b6e9d",
      "name": "Send Email Report to Media Team1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        336,
        4800
      ],
      "webhookId": "8206817d-34b4-439a-ab49-8f1c1e3b532f",
      "parameters": {
        "sendTo": "info@example.com",
        "message": "<HTML File>",
        "options": {},
        "subject": "<Your Subject>"
      },
      "typeVersion": 2.2
    },
    {
      "id": "f8e695c5-0a04-4158-8b22-3b91d05660cf",
      "name": "Search LinkedIn Posts via SerpAPI",
      "type": "n8n-nodes-serpapi.serpApi",
      "position": [
        -208,
        3152
      ],
      "parameters": {
        "q": "site:linkedin.com/posts (\"Techdome\" OR \"Employee of techdome\")",
        "requestOptions": {},
        "additionalFields": {}
      },
      "typeVersion": 1
    },
    {
      "id": "400b94b3-f483-4d94-9baf-f9fe9ffd68b8",
      "name": "Fetch Post Comments via ConnectSafely",
      "type": "n8n-nodes-connectsafely-ai.connectSafelyLinkedIn",
      "position": [
        240,
        3152
      ],
      "parameters": {
        "postUrl": "={{ $json.post_url }}",
        "accountId": "695ce64a09c18d6bbbe90ed0",
        "operation": "getAllPostComments"
      },
      "typeVersion": 1
    },
    {
      "id": "fe7d3ebf-5862-440e-8664-0b0366604f97",
      "name": "Parse & Filter Search Results",
      "type": "n8n-nodes-base.code",
      "position": [
        16,
        3152
      ],
      "parameters": {
        "jsCode": "// ---------------------------\n// COLLECT ALL POSSIBLE RESULTS\n// ---------------------------\nconst data = items[0].json;\n\nconst results = [\n  ...(data.organic_results || []),\n  ...(data.inline_results || []),\n  ...(data.discussions || []),\n  ...(data.forums || []),\n];\n\nconst problemKeywords = [\n  'problem',\n  'issue',\n  'manual',\n  'not working',\n  'struggling',\n  'pain',\n  'challenge',\n  'empty',\n  'ghosted',\n  'ghosting',\n  'not enough',\n  'low',\n  'hard',\n  'difficult',\n  'miss',\n  'failing'\n];\n\nconst output = results.map(post => {\n  const postUrl = post.link || '';\n  let platform = 'Unknown';\n  let username = null;\n  let postId = null;\n  let authorName = null;\n\n  // ---------------------------\n  // LINKEDIN DETECTION\n  // ---------------------------\n  if (/linkedin\\.com\\/posts\\//i.test(postUrl)) {\n    platform = 'LinkedIn';\n\n    const match = postUrl.match(/linkedin\\.com\\/posts\\/([^_]+).*?(\\d{8,})/i);\n    if (match) {\n      username = match[1];\n      postId = match[2];\n    }\n\n    authorName = post.source\n      ? post.source.replace('LinkedIn · ', '').trim()\n      : null;\n  }\n\n  // ---------------------------\n  // REDDIT DETECTION (ROBUST)\n  // ---------------------------\n  if (/reddit\\.com/i.test(postUrl)) {\n    platform = 'Reddit';\n\n    const redditMatch = postUrl.match(\n      /reddit\\.com\\/r\\/([^/]+)\\/comments\\/([^/]+)/i\n    );\n\n    if (redditMatch) {\n      username = `r/${redditMatch[1]}`;\n      postId = redditMatch[2];\n    }\n\n    authorName = post.source\n      ? post.source.replace('Reddit · ', '').trim()\n      : username;\n  }\n\n  // ---------------------------\n  // PROBLEM DETECTION\n  // ---------------------------\n  const text = `${post.title || ''} ${post.snippet || ''}`.toLowerCase();\n\n  const detectedProblems = problemKeywords.filter(k =>\n    text.includes(k)\n  );\n\n  return {\n    json: {\n      platform,\n      author_name: authorName,\n      username,\n      post_id: postId,\n      post_url: postUrl || null,\n      post_title: post.title || null,\n      post_snippet: post.snippet || null,\n      engagement_hint: post.displayed_link || null,\n      problem_keywords_detected: detectedProblems,\n      is_problem_post: detectedProblems.length > 0\n    }\n  };\n});\n\n// REMOVE EMPTY / UNKNOWN URL RESULTS\nreturn output.filter(item => item.json.post_url);\n\n"
      },
      "typeVersion": 2
    },
    {
      "id": "e628fb31-9acb-4243-bd4a-8ed955dd0f67",
      "name": "Flatten Comments into Rows",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        3152
      ],
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const post = item.json;\n\n  const postUrl = post.postUrl || '';\n  const postContent = post.postDetails?.content || '';\n  const activityUrn = post.postDetails?.activityUrn || null;\n\n  const comments = post.comments || [];\n\n  for (const comment of comments) {\n    results.push({\n      json: {\n        // Post info\n        postUrl,\n        activityUrn,\n        postContent,\n\n        // Comment info\n        commentId: comment.commentId,\n        commentText: comment.commentText,\n        commenterName: comment.authorName,\n        commenterProfileUrl: comment.profileUrl || null,\n        commenterUrn: comment.commenterUrn || null,\n\n        // Metadata\n        createdAt: comment.createdAt,\n        likeCount: comment.likeCount,\n        replyCount: comment.replyCount,\n        isProfile: comment.hasProfile\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "6096b588-2a98-41b7-89c6-1966997a392e",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "position": [
        704,
        3424
      ],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "da53da26-b1e0-425a-be25-b9ee14b5192e",
      "name": "Azure OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "position": [
        224,
        4496
      ],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "8a509d20-6f00-419f-96d8-88848d743653",
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sentiment & Intent Detection Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Reply Drafting Agent1": {
      "main": [
        [
          {
            "node": "Format Reply for Sheet Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reply Drafting Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Every 15 Minutes1": {
      "main": [
        [
          {
            "node": "Search LinkedIn Posts via SerpAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Comments into Rows": {
      "main": [
        [
          {
            "node": "AI Sentiment & Intent Detection Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter Search Results": {
      "main": [
        [
          {
            "node": "Fetch Post Comments via ConnectSafely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Media Team Email Report1": {
      "main": [
        [
          {
            "node": "Send Email Report to Media Team1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply for Sheet Update1": {
      "main": [
        [
          {
            "node": "Write AI Reply Back to Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sentiment & Score Output1": {
      "main": [
        [
          {
            "node": "Save Comments & Sentiment to Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn Posts via SerpAPI": {
      "main": [
        [
          {
            "node": "Parse & Filter Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Sheet for Approved Replies1": {
      "main": [
        [
          {
            "node": "Build Media Team Email Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Sheet for New Comment Rows1": {
      "main": [
        [
          {
            "node": "AI Reply Drafting Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Post Comments via ConnectSafely": {
      "main": [
        [
          {
            "node": "Flatten Comments into Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sentiment & Intent Detection Agent1": {
      "main": [
        [
          {
            "node": "Parse Sentiment & Score Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}