examples/corpus/batch_002_public_mixed/combined_workflows/ai__8573-monitor-n8n-community-and-reddit-discussions-in-telegram-with-gemini-and-groq.json
{
  "meta": {
    "instanceId": "735886904af210643f438394a538e64374f0cb4ab13fd94d97005987482d652a",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "131ad1c0-bb33-4ed1-b07e-43439e513c37",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -4256,
        32
      ],
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"intent\": \"search\",\n  \"keyword\": \"Webhook signature verification\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"top\",\n  \"reddit_time\": \"year\",\n  \"n8ncom_sort\": \"likes\",\n  \"n8ncom_time\": \"after:2025-01-01\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"https://nguyenthieutoan.com\",\n  \"language\": \"vi\",\n  \"confidence\": 0.95\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "e6c99b66-658d-4643-b560-06b483199bd6",
      "name": "MongoDB Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "position": [
        -4448,
        16
      ],
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "databaseName": "n8n_admin_chat",
        "sessionIdType": "customKey",
        "collectionName": "n8n_forum_update_chat"
      },
      "credentials": {
        "mongoDb": {
          "id": "HNBPi26RUqur8N9y",
          "name": "MongoDB_toannguyen96vn_n8n_data"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "439200ab-1e43-4458-aadd-30fe644462fc",
      "name": "If Reddit?",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2912,
        304
      ],
      "parameters": {
        "url": "={{ $json.output.link_url }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "157b9d76-9081-4825-ad4d-52176c371cc6",
      "name": "Comment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2464,
        160
      ],
      "parameters": {
        "url": "=https://www.reddit.com{{ $json.comment_url }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "f35d422d-6bf1-43ad-a414-3989c0abe075",
      "name": "Get Post Content",
      "type": "n8n-nodes-base.html",
      "position": [
        -2688,
        304
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "post_title",
              "cssSelector": "h1"
            },
            {
              "key": "post_author",
              "cssSelector": "a.author-name"
            },
            {
              "key": "post_content",
              "cssSelector": "div[slot='text-body']"
            },
            {
              "key": "post_upvotes",
              "attribute": "score",
              "cssSelector": "shreddit-post",
              "returnValue": "attribute"
            },
            {
              "key": "commentCount",
              "attribute": "comment-count",
              "cssSelector": "shreddit-post",
              "returnValue": "attribute"
            },
            {
              "key": "postTime",
              "attribute": "ts",
              "cssSelector": "faceplate-timeago",
              "returnValue": "attribute"
            },
            {
              "key": "flair",
              "cssSelector": "shreddit-post-flair .flair-content"
            },
            {
              "key": "comment_url",
              "attribute": "src",
              "cssSelector": "faceplate-partial[src^=\"/svc/shreddit/comments/\"]",
              "returnValue": "attribute"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d2c77457-4b74-43fc-8787-6449e7d4fbf7",
      "name": "Get Comment",
      "type": "n8n-nodes-base.html",
      "position": [
        -2240,
        160
      ],
      "parameters": {
        "options": {
          "trimValues": true,
          "cleanUpText": true
        },
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "comment_author",
              "attribute": "author",
              "cssSelector": "shreddit-comment",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "comment_content",
              "cssSelector": "shreddit-comment div[slot='comment']",
              "returnArray": true,
              "returnValue": "html"
            },
            {
              "key": "comment_upvotes",
              "attribute": "score",
              "cssSelector": "shreddit-comment",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "comment_level",
              "attribute": "depth",
              "cssSelector": "shreddit-comment",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "comment_id",
              "attribute": "thingid",
              "cssSelector": "shreddit-comment",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "parent_id",
              "attribute": "parentid",
              "cssSelector": "shreddit-comment",
              "returnArray": true,
              "returnValue": "attribute"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "22f67ac5-02d7-41ed-840b-904a537145c8",
      "name": "If n8n Community?",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2912,
        496
      ],
      "parameters": {
        "url": "={{ $('Detect User Intent').item.json.output.link_url }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "a4e59ef0-159e-4099-bfca-636af4dfc8d9",
      "name": "Get Topic Content",
      "type": "n8n-nodes-base.html",
      "position": [
        -2464,
        400
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "topic_title",
              "cssSelector": "#topic-title a"
            },
            {
              "key": "category",
              "cssSelector": ".topic-category .category-name"
            },
            {
              "key": "original_poster",
              "cssSelector": "#post_1 .creator span[itemprop='name']"
            },
            {
              "key": "original_post_content",
              "cssSelector": "#post_1 div.post[itemprop='text']\t"
            },
            {
              "key": "original_post_likes",
              "cssSelector": "#post_1 .post-likes"
            },
            {
              "key": "original_post_time",
              "attribute": "datetime",
              "cssSelector": "#post_1 time.post-time",
              "returnValue": "attribute"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "838171e0-c801-4ccf-bcb4-b4501f6c58a3",
      "name": "Get Comment1",
      "type": "n8n-nodes-base.html",
      "position": [
        -2688,
        592
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "comment_author",
              "cssSelector": "div.crawler-post[itemprop='comment'] span[itemprop='name']",
              "returnArray": true
            },
            {
              "key": "comment_content",
              "cssSelector": "div.crawler-post[itemprop='comment'] div.post[itemprop='text']",
              "returnArray": true,
              "returnValue": "html"
            },
            {
              "key": "comment_likes",
              "cssSelector": "div.crawler-post[itemprop='comment'] .post-likes",
              "returnArray": true
            },
            {
              "key": "comment_post_number",
              "cssSelector": "div.crawler-post[itemprop='comment'] span[itemprop='position']",
              "returnArray": true
            },
            {
              "key": "comment_time",
              "attribute": "datetime",
              "cssSelector": "div.crawler-post[itemprop='comment'] time.post-time",
              "returnArray": true,
              "returnValue": "attribute"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e3aa4967-b214-4312-98fe-51586ea06823",
      "name": "Platform?",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3056,
        -928
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "39188959-a286-43a4-b9b7-c8cd2667e225",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.platforms }}",
                    "rightValue": "=all"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9cc13c1f-e903-4c51-89de-ebd290888cef",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.platforms }}",
                    "rightValue": "reddit"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "940f40a0-4cb0-41a7-8c5e-7e553bc1acf0",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.platforms }}",
                    "rightValue": "n8ncom"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "f78f3d7c-c2a2-4bb0-a828-ea14a3efb5d4",
      "name": "MongoDB Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "position": [
        -1136,
        -32
      ],
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "databaseName": "n8n_admin_chat",
        "sessionIdType": "customKey",
        "collectionName": "n8n_forum_update_chat"
      },
      "credentials": {
        "mongoDb": {
          "id": "HNBPi26RUqur8N9y",
          "name": "MongoDB_toannguyen96vn_n8n_data"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "349d9d39-197c-498c-b89e-43a760a48905",
      "name": "Merge Sources1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -4224,
        -1168
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2
    },
    {
      "id": "974347e4-9cc5-401c-aeee-061f7dc3d1b2",
      "name": "Get Only Search Result1",
      "type": "n8n-nodes-base.code",
      "position": [
        -4448,
        -1184
      ],
      "parameters": {
        "jsCode": "// Lấy dữ liệu Reddit Fetch từ item đầu vào\nconst redditData = items[0].json.data.children;\n\n// Tạo array mới gồm các thông tin chi tiết hơn cho mỗi kết quả\nconst detailedResults = redditData.map(item => {\n  const data = item.data;\n  return {\n    id: data.id,\n    subreddit: data.subreddit,\n    title: data.title,\n    selftext: data.selftext,\n    author: data.author,\n    created_utc: data.created_utc,\n    created: new Date(data.created_utc * 1000).toLocaleString('vi-VN'),\n    url: 'https://www.reddit.com' + data.permalink,\n    num_comments: data.num_comments,\n    score: data.score,\n    upvote_ratio: data.upvote_ratio,\n    is_original_content: data.is_original_content,\n    flair: data.link_flair_text,\n    thumbnail: data.thumbnail || null\n    // Có thể bổ sung thêm fields nếu cần\n  }\n});\n\n// Gói toàn bộ vào 1 trường \"reddit search result\"\nreturn [\n  {\n    json: {\n      \"reddit search result\": detailedResults\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "28fa09e7-7101-43d6-b0fe-a73484cb8617",
      "name": "MongoDB Chat Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "position": [
        -3888,
        -656
      ],
      "parameters": {
        "sessionKey": "={{ $('Set Memory ID Session').item.json.MyTelegramID }}",
        "databaseName": "n8n_admin_chat",
        "sessionIdType": "customKey",
        "collectionName": "n8n_forum_update_chat"
      },
      "credentials": {
        "mongoDb": {
          "id": "HNBPi26RUqur8N9y",
          "name": "MongoDB_toannguyen96vn_n8n_data"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "901d57d5-4172-41ac-86d9-f6ab3f3d8e2a",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -4880,
        64
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "a557741e-736e-4927-abd4-fc979c5d71fb",
      "name": "Has keyword?",
      "type": "n8n-nodes-base.if",
      "position": [
        -2832,
        -1008
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5f8cfce1-1b96-47f5-bf92-0af396ff33e1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.keyword }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "8dcd3889-5717-4a6f-8b35-92bda6a7d501",
      "name": "Has time?",
      "type": "n8n-nodes-base.if",
      "position": [
        -2608,
        -912
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "34b96dd6-1da2-44e5-824e-82ed4e13a894",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.reddit_sort }}",
              "rightValue": "top"
            },
            {
              "id": "274e03b5-5692-4132-8fbe-26520efe7965",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.reddit_sort }}",
              "rightValue": "relevance"
            },
            {
              "id": "0d668583-7163-41fc-81df-aebbd5aced96",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.reddit_sort }}",
              "rightValue": "comments"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "54df9561-fd56-4d89-9177-6e10696144cd",
      "name": "Reddit Search page JSON (has time)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2384,
        -816
      ],
      "parameters": {
        "url": "=https://www.reddit.com/r/n8n/search.json?q={{ $json.output.keyword }}&restrict_sr=1&sort={{ $('Detect User Intent').item.json.output.reddit_sort }}&t={{ $('Detect User Intent').item.json.output.reddit_time }}&limit={{ $json.output.limit }}",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "856824b6-d667-4763-a9e2-757596ca2bf0",
      "name": "Reddit Search page (no time)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2384,
        -1008
      ],
      "parameters": {
        "url": "=https://www.reddit.com/r/n8n/search.json?q={{ $json.output.keyword }}+&restrict_sr=1&sort={{ $json.output.reddit_sort }}&limit={{ $json.output.limit }}",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "d1405d74-8160-4c7d-a481-2054f5562285",
      "name": "Reddit Search page JSON (no keyword)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2384,
        -1200
      ],
      "parameters": {
        "url": "=https://www.reddit.com/r/n8n/{{ $json.output.reddit_sort }}.json?t={{ $json.output.reddit_time }}&limit={{ $json.output.limit }}",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "f15b28e7-fe42-40a5-8ea3-c2bae35c928f",
      "name": "Get Only Reddit Search Result",
      "type": "n8n-nodes-base.code",
      "position": [
        -2160,
        -1008
      ],
      "parameters": {
        "jsCode": "const redditData = items[0].json.data.children;\nconst detailedResults = redditData.map(item => {\n  const data = item.data;\n  return {\n    id: data.id,\n    subreddit: data.subreddit,\n    title: data.title,\n    selftext: data.selftext,\n    author: data.author,\n    created_utc: data.created_utc,\n    created: new Date(data.created_utc * 1000).toLocaleString('vi-VN'),\n    url: 'https://www.reddit.com' + data.permalink,\n    num_comments: data.num_comments,\n    score: data.score,\n    upvote_ratio: data.upvote_ratio,\n    is_original_content: data.is_original_content,\n    flair: data.link_flair_text,\n    thumbnail: data.thumbnail || null\n  }\n});\nreturn [\n  {\n    json: {\n      \"reddit search result\": detailedResults\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "2e53aaa6-35c7-4cff-9ce9-8918cef681b8",
      "name": "n8n Community Fetch JSON",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2384,
        -624
      ],
      "parameters": {
        "url": "=https://community.n8n.io/search.json?q={{ $json.output.keyword }}%20{{ $json.output.n8ncom_time }}%20min_posts%3A0%20in%3Afirst%20{{ $json.output.limit }}%20order%3A{{ $json.output.n8ncom_sort }}",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "5ac7b30d-29fb-4c85-a6a4-7282907f693d",
      "name": "Get Only n8n community Search Result",
      "type": "n8n-nodes-base.code",
      "position": [
        -2160,
        -624
      ],
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      \"n8n community search result\": items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "80a9d15c-9d91-4a29-a807-2b92aeedf6a6",
      "name": "Open link Reddit or n8n Comunity?",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3136,
        480
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "81df18c7-c944-4dbd-949c-7b40f9e072dd",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.output.link_url }}",
                    "rightValue": "reddit.com"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "5c9f113c-79af-4830-8029-bbbc2fb10280",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.output.link_url }}",
                    "rightValue": "community.n8n.io"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "120fe101-18ac-46f0-929d-c516f4e64ed5",
      "name": "Comment Summary 1",
      "type": "n8n-nodes-base.code",
      "position": [
        -2016,
        160
      ],
      "parameters": {
        "jsCode": "// ===== Helpers =====\nfunction stripHtml(html) {\n  if (!html) return '';\n  return String(html)\n    .replace(/&nbsp;?/g, ' ')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nconst at = (arr, i) => (Array.isArray(arr) && i < arr.length ? arr[i] : undefined);\nconst normalizeAuthor = (v) => {\n  const s = (v ?? '').trim();\n  const low = s.toLowerCase();\n  return (!s || low === '[deleted]' || low === '[removed]') ? null : s;\n};\nconst parseUpvotes = (v) => (v === '' || v === null || v === undefined ? null : Number(v));\n\n// ===== Input =====\nconst data = (items?.[0]?.json) || {};\n\n// ===== 1) Build a reliable map: comment_id -> content (from HTML id) =====\n// We only trust content blocks that explicitly carry an id=\"t1_xxx-...\"\nconst contentById = new Map();\nif (Array.isArray(data.comment_content)) {\n  for (const html of data.comment_content) {\n    if (!html) continue;\n    const txt = String(html);\n    // Lấy id=\"t1_xxx...\" đầu tiên trong block (nếu có)\n    const m = /id\\s*=\\s*\"(t1_[^\"-\\s]+)(?:-[^\"]*)?\"/i.exec(txt);\n    const cid = m?.[1];\n    if (cid && !contentById.has(cid)) {\n      contentById.set(cid, stripHtml(txt) || null);\n    }\n  }\n}\n\n// ===== 2) Iterate by comment_id as the ground truth =====\nconst len = Array.isArray(data.comment_id) ? data.comment_id.length : 0;\nconst out = [];\n\nfor (let i = 0; i < len; i++) {\n  const cid = at(data.comment_id, i) ?? null;\n\n  // Content resolution:\n  //   a) Prefer exact match by id from contentById\n  //   b) Else, only use index fallback if that HTML at same index has the SAME id\n  //   c) Else, content = null  (avoid cross-contamination)\n  let content = null;\n  if (cid && contentById.has(cid)) {\n    content = contentById.get(cid);\n  } else {\n    const htmlAtIdx = at(data.comment_content, i);\n    if (htmlAtIdx) {\n      const mIdx = /id\\s*=\\s*\"(t1_[^\"-\\s]+)(?:-[^\"]*)?\"/i.exec(String(htmlAtIdx));\n      const idxId = mIdx?.[1] ?? null;\n      if (idxId && idxId === cid) {\n        content = stripHtml(htmlAtIdx) || null;\n      } else {\n        content = null; // << khóa an toàn: không mượn content của id khác\n      }\n    }\n  }\n\n  out.push({\n    comment_id: cid,\n    parent_id: at(data.parent_id, i) ?? null,\n    level: Number(at(data.comment_level, i) ?? 0),\n    author: normalizeAuthor(at(data.comment_author, i)),\n    upvotes: parseUpvotes(at(data.comment_upvotes, i)),\n    content,\n  });\n}\n\n// ===== Output =====\nreturn [{ json: { comment: out } }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "94d98142-0c39-43be-91fb-6117277588d8",
      "name": "Comment Summary 2",
      "type": "n8n-nodes-base.code",
      "position": [
        -2464,
        592
      ],
      "parameters": {
        "jsCode": "// Hàm loại bỏ tag html (đơn giản, có thể mở rộng nếu cần)\nfunction stripHtml(html) {\n  return html\n    .replace(/<[^>]+>/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst data = items[0].json;  // Data đầu vào bạn gửi\n\nconst result = [];\nconst len = data.comment_author.length; // Sẽ đồng bộ với các mảng còn lại\n\nfor (let i = 0; i < len; i++) {\n  result.push({\n    author: data.comment_author[i],\n    content: stripHtml(data.comment_content[i]),\n    likes: data.comment_likes[i],\n    post_number: data.comment_post_number[i],\n    time: data.comment_time[i]\n    // Thêm các trường khác nếu muốn như comment_id, parent_id,... nếu có!\n  });\n}\n\nreturn [{ json: { comment: result } }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "779cb50b-fd04-4b47-9e6b-d5af2441bf8c",
      "name": "Merge Link Content",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1792,
        432
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.2
    },
    {
      "id": "37af1f5a-0df8-4dee-9e6c-a48819893cd5",
      "name": "Merge Search Result",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1936,
        -816
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2
    },
    {
      "id": "4a109d34-4350-4793-ae84-1f0bca006358",
      "name": "Wrap as Data Object",
      "type": "n8n-nodes-base.code",
      "position": [
        -1408,
        -256
      ],
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      data: items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "523b7e7f-72d9-463d-9010-d84fe6fbed74",
      "name": "Send reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -768,
        -256
      ],
      "webhookId": "df228a87-ff01-4fcd-bad5-2dddf9dd6120",
      "parameters": {
        "text": "={{ $json.text }}",
        "chatId": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "42189674-02df-4d18-b63c-c4b0f44c766d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -4896,
        -1088
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9591a903-8ae4-4475-9d6f-f1137e819f77",
      "name": "Reddit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4672,
        -1184
      ],
      "parameters": {
        "url": "=https://www.reddit.com/r/n8n/top.json?t=day&limit=20",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "39fd896d-9b83-40d1-9ccf-e47a1aabaf47",
      "name": "n8n Community Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4672,
        -992
      ],
      "parameters": {
        "url": "=https://community.n8n.io/search.json?q=%20after:{{ (new Date(Date.now() - 1 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}%20min_posts%3A0%20in%3Afirst%2010%20order%3Alatest",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "c021f7fc-f860-49b5-9ecf-b16e75f3afbd",
      "name": "Get Only Search Result2",
      "type": "n8n-nodes-base.code",
      "position": [
        -4448,
        -992
      ],
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      \"n8n community search result\": items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "227972da-d736-4c08-8032-6b2a5cc9e259",
      "name": "Send Auto Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -3488,
        -944
      ],
      "webhookId": "b29534da-a784-4e38-b0c6-5384f90a4fc7",
      "parameters": {
        "text": "={{ $json.text }}",
        "chatId": "=6163095869",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "31b4c4ac-a4e4-46b7-a168-f5b4121a4598",
      "name": "MongoDB Chat Memory3",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "position": [
        -3632,
        608
      ],
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "sessionIdType": "customKey",
        "collectionName": "n8n_forum_update_chat"
      },
      "credentials": {
        "mongoDb": {
          "id": "HNBPi26RUqur8N9y",
          "name": "MongoDB_toannguyen96vn_n8n_data"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "59fc38f2-89fc-4830-be62-170d8663d656",
      "name": "Clean and Chunk2",
      "type": "n8n-nodes-base.code",
      "position": [
        -4592,
        384
      ],
      "parameters": {
        "jsCode": "/**\n * Telegram HTML Normalizer + Chunker (≤ 2000 chars)\n * - Markdown → Telegram HTML (a,b,i,u,s,code,pre,blockquote)  [NO <br>]\n * - Map/strip unsupported tags, sanitize attributes\n * - Convert all <br> to '\\n' (Telegram doesn't support <br>)\n * - Preserve links/code/pre; do NOT split inside <a>/<pre>/<blockquote> and inline pairs\n * - Close/reopen ONLY long-lived tags per chunk (a, pre, blockquote)\n * - Prevent stray closing tags and treat lone \"<\" safely\n */\n\nconst MAX_LEN = 2000;\n\n/* === Get input === */\nlet text = ($input.first().json.output ?? $input.first().json.text ?? '').trim();\nif (!text) return [];\n\n/* === Allowed Telegram tags (NO <br>) === */\nconst allowed = new Set(['a','b','i','u','s','code','pre','blockquote']);\n\n/* ---------- Utils ---------- */\nconst escapeHtml = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nfunction sanitizeHref(href){\n  if (!href) return '';\n  const h = String(href).trim().replace(/^['\"]|['\"]$/g,'');\n  const lower = h.toLowerCase();\n  if (lower.startsWith('javascript:') || lower.startsWith('data:')) return '';\n  return h;\n}\n\n/* ---------- 1) Markdown -> HTML ---------- */\nfunction mdToHtml(md){\n  let s = md;\n  // code block\n  s = s.replace(/```([\\s\\S]*?)```/g, (m,p1)=>`<pre>${escapeHtml(p1.trim())}</pre>`);\n  // inline code\n  s = s.replace(/`([^`]+)`/g, (m,p1)=>`<code>${escapeHtml(p1)}</code>`);\n  // bold / italic / underline / strike\n  s = s.replace(/\\*\\*([^*]+)\\*\\*/g, '<b>$1</b>');\n  s = s.replace(/(^|[\\s(])\\*([^*\\n]+)\\*(?=$|[\\s).,!?\\]])/g, '$1<i>$2</i>');\n  s = s.replace(/__([^_]+)__/g, '<u>$1</u>');\n  s = s.replace(/~~([^~]+)~~/g, '<s>$1</s>');\n  // headers → bold + newline\n  s = s.replace(/^(#{1,6})\\s+(.+)$/gm, (m, hashes, content)=>`<b>${content.trim()}</b>\\n`);\n  // list markers → bullet\n  s = s.replace(/^[\\-\\*\\+]\\s+(.+)$/gm, '• $1');\n  // [text](url)\n  s = s.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, (m,txt,url)=>{\n    const safe = sanitizeHref(url);\n    return safe ? `<a href=\"${safe}\">${txt}</a>` : txt;\n  });\n  return s;\n}\n\n/* ---------- 2) Protect <pre>/<code> contents ---------- */\nfunction protectPreCodeBlocks(input){\n  const placeholders = [];\n  let out = input;\n\n  out = out.replace(/<pre\\b[^>]*>([\\s\\S]*?)<\\/pre>/gi, (m, inner)=>{\n    const token = `__PRE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'pre', content: escapeHtml(inner)});\n    return token;\n  });\n\n  out = out.replace(/<code\\b[^>]*>([\\s\\S]*?)<\\/code>/gi, (m, inner)=>{\n    const token = `__CODE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'code', content: escapeHtml(inner)});\n    return token;\n  });\n\n  const restore = (s)=>{\n    for (const ph of placeholders){\n      s = s.split(ph.token).join(`<${ph.tag}>${ph.content}</${ph.tag}>`);\n    }\n    return s;\n  };\n\n  return { text: out, restore };\n}\n\n/* ---------- 3) HTML normalize ---------- */\nfunction htmlNormalize(input){\n  let s = input;\n\n  // Convert ALL <br> to newlines for Telegram HTML\n  s = s.replace(/<br\\s*\\/?>/gi, '\\n');\n\n  // lists\n  s = s.replace(/<li[^>]*>/gi, '• ').replace(/<\\/li>/gi, '\\n');\n  s = s.replace(/<\\/?(ul|ol)[^>]*>/gi, '');\n\n  // paragraphs/divs → newlines\n  s = s.replace(/<p[^>]*>/gi, '').replace(/<\\/p>/gi, '\\n\\n');\n  s = s.replace(/<div[^>]*>/gi, '').replace(/<\\/div>/gi, '\\n');\n\n  // headers → <b> + newline\n  s = s.replace(/<h[1-6][^>]*>([\\s\\S]*?)<\\/h[1-6]>/gi, (m, inner)=>`<b>${inner.trim()}</b>\\n`);\n\n  // Map aliases -> canonical\n  s = s.replace(/<\\/?strong\\b/gi, t=>t.replace(/strong/i,'b'));\n  s = s.replace(/<\\/?em\\b/gi, t=>t.replace(/em/i,'i'));\n  s = s.replace(/<\\/?ins\\b/gi, t=>t.replace(/ins/i,'u'));\n  s = s.replace(/<\\/?(strike|del)\\b/gi, t=>t.replace(/strike|del/i,'s'));\n\n  // remove spans\n  s = s.replace(/<\\/?span[^>]*>/gi, '');\n\n  // images -> textual hint\n  s = s.replace(/<img[^>]*src\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)[^>]*>/gi, (m,src)=>{\n    const clean = String(src).replace(/^['\"]|['\"]$/g,'');\n    return ` (ảnh: ${clean}) `;\n  });\n\n  return s;\n}\n\n/* ---------- 3.5) Escape lone '<' that are NOT valid tags ---------- */\nfunction escapeLoneAngles(input){\n  // allow only tags in: a|b|i|u|s|code|pre|blockquote  (NO br)\n  return input.replace(/<(?!\\/?(a|b|i|u|s|code|pre|blockquote)\\b)/gi, '&lt;');\n}\n\n/* ---------- 4) Sanitize tags (keep only Telegram tags) ---------- */\nfunction sanitizeHtml(input){\n  return input.replace(/<\\/?([a-z0-9]+)(\\s+[^>]*)?>/gi, (full, tag, attrs='')=>{\n    const t = tag.toLowerCase();\n\n    if (t === 'a'){\n      if (full.startsWith('</')) return '</a>';\n      const hrefMatch = attrs.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n      const safeHref = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n      return safeHref ? `<a href=\"${safeHref}\">` : '';\n    }\n\n    if (!allowed.has(t)) return ''; // drop unsupported\n    return full[1] === '/' ? `</${t}>` : `<${t}>`;\n  });\n}\n\n/* ---------- 5) Track ONLY long-lived tags across chunks ---------- */\n/* We only track <a>, <pre>, <blockquote> so inline pairs never get auto-closed. */\nfunction getOpenTagsWithAttrs(html){\n  const trackable = new Set(['a','pre','blockquote']);\n  const stack = [];\n  const re = /<\\/?([a-z0-9]+)(?:\\s+[^>]*)?>/gi;\n  let m;\n  while ((m = re.exec(html))){\n    const raw = m[0];\n    const t = m[1].toLowerCase();\n    if (!trackable.has(t)) continue;\n\n    if (raw[1] === '/'){\n      const idx = [...stack].reverse().findIndex(e=>e.tag===t);\n      if (idx !== -1) stack.splice(stack.length - 1 - idx, 1);\n    } else {\n      if (t === 'a'){\n        const hrefMatch = raw.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n        const href = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n        if (href) stack.push({tag:'a', href});\n      } else {\n        stack.push({tag:t});\n      }\n    }\n  }\n  return stack;\n}\nconst closeTags   = (open)=>[...open].reverse().map(e=>`</${e.tag}>`).join('');\nconst openTagsStr = (open)=>open.map(e=>e.tag==='a'?`<a href=\"${e.href}\">`:`<${e.tag}>`).join('');\n\n/* ---------- 6) Normalize pipeline ---------- */\nfunction normalizeToTelegramHtml(input){\n  const looksLikeMd = /(^|\\s)[*_`~]|^#{1,6}\\s|```/.test(input);\n  let s = looksLikeMd ? mdToHtml(input) : input;\n\n  s = htmlNormalize(s);\n\n  const protector = protectPreCodeBlocks(s);\n  s = protector.text;\n\n  // avoid \"<10\" etc. being treated as a tag\n  s = escapeLoneAngles(s);\n\n  s = sanitizeHtml(s);\n  s = protector.restore(s);\n\n  // collapse multiple newlines\n  s = s.replace(/\\n{3,}/g, '\\n\\n').trim();\n  return s;\n}\n\n/* ---------- 7) Split safely ---------- */\nfunction splitHtmlSmart(html, maxLen){\n  // Atomic segments: a, pre, blockquote, and inline pairs b/i/u/s/code\n  const re = /(<a\\b[^>]*>[\\s\\S]*?<\\/a>)|(<pre\\b[^>]*>[\\s\\S]*?<\\/pre>)|(<blockquote\\b[^>]*>[\\s\\S]*?<\\/blockquote>)|(<b\\b[^>]*>[\\s\\S]*?<\\/b>)|(<i\\b[^>]*>[\\s\\S]*?<\\/i>)|(<u\\b[^>]*>[\\s\\S]*?<\\/u>)|(<s\\b[^>]*>[\\s\\S]*?<\\/s>)|(<code\\b[^>]*>[\\s\\S]*?<\\/code>)|(<[^>]+>)|([^<]+)/gi;\n\n  const segments = [];\n  let m;\n  while ((m = re.exec(html))){\n    segments.push(\n      m[1] || m[2] || m[3] || m[4] || m[5] || m[6] || m[7] || m[8] ||\n      m[9] || m[10] // raw tag (will be sanitized already) or plain text (may contain \\n)\n    );\n  }\n\n  const chunks = [];\n  let buffer = '';\n  let prefixOpen = '';\n\n  const pushBuffer = ()=>{\n    if (!buffer.trim()) { buffer = ''; return; }\n    let out = prefixOpen + buffer;\n    // Only close a/pre/blockquote\n    const open = getOpenTagsWithAttrs(out);\n    out += closeTags(open);\n    prefixOpen = openTagsStr(open); // reopen at next chunk if any\n    chunks.push(out.trim());\n    buffer = '';\n  };\n\n  // Shrink visible text inside <a> if needed\n  const shrinkAnchorIfTooLong = (seg, room)=>{\n    const mm = /^<a\\b[^>]*>([\\s\\S]*?)<\\/a>$/i.exec(seg);\n    if (!mm) return seg;\n    const visible = mm[1];\n    if (seg.length <= room) return seg;\n    const truncated = (visible.length > room - 30) ? (visible.slice(0, Math.max(3, room - 33)) + '...') : visible;\n    return seg.replace(visible, truncated);\n  };\n\n  // Split huge <pre> / <blockquote> into multiple wrapped chunks\n  const splitWrappedBlock = (segTag, seg, available)=>{\n    const rx = new RegExp(`^<${segTag}[^>]*>([\\\\s\\\\S]*)<\\\\/${segTag}>$`, 'i');\n    const mm = rx.exec(seg);\n    if (!mm) return false;\n    let content = mm[1];\n    const shellLen = (`<${segTag}></${segTag}>`).length;\n\n    if (seg.length <= available) return false;\n\n    if (buffer.trim()) pushBuffer();\n\n    while (content.length){\n      const room = Math.max(200, maxLen - prefixOpen.length - shellLen - 10);\n      const slice = content.slice(0, room);\n      buffer = `<${segTag}>${slice}</${segTag}>`;\n      pushBuffer();\n      content = content.slice(slice.length);\n    }\n    return true;\n  };\n\n  for (const seg of segments){\n    const segLen = seg.length;\n\n    // if appending seg would overflow\n    if ((prefixOpen.length + buffer.length + segLen) > maxLen){\n\n      // Try shrinking anchor text\n      if (/^<a\\b/i.test(seg)){\n        const room = maxLen - prefixOpen.length - buffer.length - 1;\n        const shrunk = shrinkAnchorIfTooLong(seg, Math.max(60, room));\n        if ((prefixOpen.length + buffer.length + shrunk.length) <= maxLen){\n          buffer += shrunk;\n          continue;\n        }\n      }\n\n      // Split huge <pre>/<blockquote>\n      const available = maxLen - prefixOpen.length - buffer.length;\n      if (/^<pre\\b/i.test(seg) && splitWrappedBlock('pre', seg, available)) continue;\n      if (/^<blockquote\\b/i.test(seg) && splitWrappedBlock('blockquote', seg, available)) continue;\n\n      // Push current chunk\n      pushBuffer();\n\n      // Place seg into new buffer or split plain text / hard-cut tag as last resort\n      if ((prefixOpen.length + segLen) <= maxLen){\n        buffer = seg;\n      } else if (!seg.startsWith('<')) {\n        // split plain text by whitespace/newlines then hard-cut if needed\n        const words = seg.split(/(\\s+)/);\n        for (const w of words){\n          const candidate = buffer + w;\n          if ((prefixOpen.length + candidate.length) > maxLen){\n            pushBuffer();\n            if ((prefixOpen.length + w.length) > maxLen){\n              let s = w;\n              const room = Math.max(200, maxLen - prefixOpen.length - 10);\n              while (s.length){\n                buffer = s.slice(0, room);\n                pushBuffer();\n                s = s.slice(room);\n              }\n            } else {\n              buffer = w;\n            }\n          } else {\n            buffer = candidate;\n          }\n        }\n      } else {\n        // FINAL FALLBACK: extremely long single tag (rare)\n        let start = 0;\n        const room = Math.max(200, maxLen - prefixOpen.length - 10);\n        while (start < segLen){\n          buffer = seg.slice(start, start + room);\n          pushBuffer();\n          start += room;\n        }\n      }\n      continue;\n    }\n\n    // fits → append\n    buffer += seg;\n  }\n\n  if (buffer.trim()) pushBuffer();\n  return chunks;\n}\n\n/* ===== Run ===== */\nconst normalized = normalizeToTelegramHtml(text);\nconst chunks = splitHtmlSmart(normalized, MAX_LEN);\n\n/* Export to Telegram node */\nreturn chunks.map(c => ({ json: { text: c } }));\n"
      },
      "typeVersion": 2
    },
    {
      "id": "cd337f0e-d339-421b-9db8-6e4cb687e583",
      "name": "Send reply1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -4224,
        384
      ],
      "webhookId": "66e1b44f-c919-4020-97ca-9db75f8c074e",
      "parameters": {
        "text": "={{ $json.text }}",
        "chatId": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Trigger - User Message').item.json.message.message_id }}"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "4404f68a-e5a5-4b3d-8d62-f37dc47f8084",
      "name": "Telegram Trigger - User Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -4896,
        -240
      ],
      "webhookId": "fee55308-b3c0-41f2-a123-1c585f65b5c7",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "7934dbec-84a7-47f5-917b-afbe413244cb",
      "name": "Detect User Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -4528,
        -240
      ],
      "parameters": {
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## Role & Context\n\nYou are an AI Agent running inside an n8n workflow created by Nguyễn Thiệu Toàn, and you are also an expert at identifying user intent to decide the workflow’s next action. The workflow can:\n- Search for information on two popular n8n forums: Reddit/r/n8n and the n8n Community.\n- Open a specific link to view and summarize content for the user.\n- Converse and chat with the user.\n\nYou strictly, intelligently, flexibly, and precisely follow the rules set by Nguyễn Thiệu Toàn below:\n\nCurrent time is {{ new Date().toISOString().slice(0,19) }}.\nYou receive the user’s message and conversation history, then return a JSON result following the extended schema so the workflow can route actions correctly.\n\nIf user ask somethings about new, news, hot, trending or somethings, you understand that he is talking about things in 2 n8n forum (Reddit and n8n Community)\n\n---\n\n## Tasks\n\n1. Understand the user’s intent:\n\nIs it to search for n8n information on Reddit r/n8n and the n8n Community?\nOr is it chat (greeting, mood…), open_link (open/view details of a specific post or URL)?\n\n2. Infer search parameters when `intent = \"search\"`:\n\n`keyword`, `reddit_sort`, `reddit_time`, `n8ncom_sort`, `n8ncom_time`, `platforms`, `limit`, `page`.\n---\n\n## Intent classification (priority order)\n\n1. open_link: The user provides or asks to open a specific URL (reddit.com/r/n8n…, community.n8n.io/…, short links) or asks “view details of post #2”, “open the one above”…\nIf 'intent' is 'openlink', you MUST find the suitable link to fill \"url_link\" based on chat history (Note that you must never fabricate a link that does not appear in the chat history, and never leave 'url_link' empty when the intent is 'open_link')\n2. search: Contains verbs for searching/lookup/how-to/issue related to n8n and/or explicitly mentions Reddit/n8n Community.\n3. chat: Greetings, emotions, casual talk (“are you happy?”, “hello”, “thanks”…), basic questions that don’t require opening links or searching about n8n.\n\n> If a message can fall into multiple categories, apply the above priority.\n\n---\n\n## Search parameter inference (when `intent = \"search\"`)\n\n### 1) `keyword`\n\nYou must create a highly intelligent keyword based on the user’s request. The keyword must always be in English and as concise as possible to maximize search results, avoiding overly specific words. Extract the core need about n8n. Keep any text inside quotation marks unchanged.\nRemove filler words that don’t add query meaning.\nPrioritize technical phrases: e.g., \"Telegram Trigger 429\", \"Google Sheets append row\", \"HTTP Request OAuth2\", \"AI Agent memory\".\n\nIf the request don't mention a specific keyword, such as: \"What's new today\", you can use blank value for 'keyword'. \n\n### 2) Sort & Time\n\nReddit → `reddit_sort`: `relevance` (best match – default if missing) · `new` (recent) · `top` (most upvoted/hottest/most liked) · `comments` (most discussed) · `hot` (trending in last 24h).\nn8n Community → `n8ncom_sort`: `views` (most viewed, default if missing) · `latest` (most recent) · `likes` (most liked) · `latest_topic` (most recently updated topics) · `votes` (most voted).\nReddit → `reddit_time`: `hour|day|week|month|year|all`. Default `week`.\nn8n Community → `n8ncom_time`: `after:YYYY-MM-DD` or `before:YYYY-MM-DD`.\n\n  Natural language mapping: \"today\" → `after:{{ new Date().toISOString().slice(0, 10) }}`\n “this week” → `after:{{ (new Date(Date.now() - 7 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}`; “past 30 days” → `after:{{ (new Date(Date.now() - 30 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}`; “past 1 year” → `after:{{ (new Date(Date.now() - 365 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}>`; “past X days” → `after:({{ new Date().toISOString().slice(0, 10) }} - X days)`\n\n  Prefer returning an absolute date in YYYY-MM-DD based on the current time {{ new Date().toISOString().slice(0, 10) }}. If no data available, default to `after:{{ (new Date(Date.now() - 1 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}` (i.e., since yesterday).\n\n### 3) Platforms & pagination\n\n`platforms`: \"reddit | n8ncom | all\". If the user specifies one place, keep only that. If generic, default to \"all\".\n`limit` defaults to `20` (1–50). `page` defaults to `1`.\n\n---\n\n## Control fields for non-`search` intents\n\nopen_link: fill `link_url` (valid URL). If the user says “post #2” based on the previous list, use the conversation history to find the appropriate link and fill 'link_url'.\n\nchat: If the user intends basic Q&A or casual chat with the bot.\n---\n\n## Normalization & Defaults\n\nAll enum values must be lowercase from the allowed list.\nAlways output all fields in the JSON (no missing fields). For fields without values, output empty string \"\".\nDefaults if missing:\n  `reddit_sort = \"hot\"`, `reddit_time = \"month\"`\n  `n8ncom_sort = \"views\"`, `n8ncom_time = \"after:{{ (new Date(Date.now() - 30 * 24 * 60 * 60 * 1000)).toISOString().slice(0,10) }}\"`\n  `platforms = [\"reddit\",\"n8ncom\"]`, `limit = 10`, `page = 1`\nDetect the user’s language to set `language` (short ISO, e.g., `vi`, `en`).\nSet `confidence` (0.0–1.0) as the certainty for the `intent` & parameters.\n  `keyword`: Use \"\" when missing\n  `link_url`: Use \"\" when missing\n---\n\n## Extended Schema (required)\n\n{\n  \"intent\": \"search | open_link | chat\",\n  \"keyword\": \"string\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"new | top | hot | comments\",\n  \"reddit_time\": \"hour | day | week | month | year | all\",\n  \"n8ncom_sort\": \"latest | likes | views | latest_topic | votes\",\n  \"n8ncom_time\": \"after:YYYY-MM-DD | before:YYYY-MM-DD\",\n  \"limit\": <number>,\n  \"page\": <number>,\n  \"link_url\": \"<string>\",\n  \"language\": \"<vi|en|...>\",\n  \"confidence\": <number>\n}\n\n> Output must be a valid JSON only per the schema above, without extra description/markdown.\n\n---\n\n## Quick heuristics\n\nSearch keywords: \"search\", \"guide\", \"how to\", \"error\", \"bug\", \"workflow\", \"node\", \"reddit\", \"community\", \"post\", \"topic\".\nSort hints: \"new/recent\" → `new`/`latest`; \"top/best\" → `top`/`likes`; \"most viewed\" → `views`; \"active discussion\" → `comments`/`latest_topic`.\nTime hints: \"today\" → `day`; \"this week\" → `week`; \"this month\" → `month`; \"this year\" → `year`; \"all time\" → `all` / `after:2010-01-01`.\nopen_link: presence of URL or index reference (#1, #2…) → fill `link_url`.\n\nchat: greetings/small talk like \"hello\", \"hi\", \"are you happy\", \"thanks\"…\n\n---\n\n## Input/Output examples\n\n### 1) Search (default both platforms)\n\nInput: \"Find top posts about Webhook signature verification this year\"\n\n{\n  \"intent\": \"search\",\n  \"keyword\": \"Webhook signature verification\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"top\",\n  \"reddit_time\": \"year\",\n  \"n8ncom_sort\": \"likes\",\n  \"n8ncom_time\": \"after:{{ new Date().getFullYear() }}-01-01\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"\",\n  \"language\": \"vi\",\n  \"confidence\": 0.95\n}\n\n### 2) Search (specific platform)\n\nInput: \"Filter new posts about Telegram Trigger 429 on Community this month\"\n\n{\n  \"intent\": \"search\",\n  \"keyword\": \"Telegram Trigger 429\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"new\",\n  \"reddit_time\": \"week\",\n  \"n8ncom_sort\": \"latest\",\n  \"n8ncom_time\": \"after:{{ new Date().getFullYear() + \"-\" + String(new Date().getMonth() + 1).padStart(2, \"0\") }}-01\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"\",\n  \"language\": \"vi\",\n  \"confidence\": 0.9\n}\n\n### 3) Open link (direct URL)\n\nInput: \"Summarize the topic about XXX you mentioned earlier!\"\n\n{\n  \"intent\": \"open_link\",\n  \"keyword\": \"\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"relevance\",\n  \"reddit_time\": \"week\",\n  \"n8ncom_sort\": \"views\",\n  \"n8ncom_time\": \"after:{{ new Date().getFullYear() + \"-\" + String(new Date().getMonth() + 1).padStart(2, \"0\") }}-01\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"https://nguyenthieutoan.com\",\n  \"language\": \"vi\",\n  \"confidence\": 0.98\n}\n\n### 4) Open link (refer by index)\n\nInput: \"Summarize post #2 from the list above\"\n\n{\n  \"intent\": \"open_link\",\n  \"keyword\": \"\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"relevance\",\n  \"reddit_time\": \"week\",\n  \"n8ncom_sort\": \"views\",\n  \"n8ncom_time\": \"after:2025-08-12\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"https://nguyenthieutoan.com\",\n  \"language\": \"vi\",\n  \"confidence\": 0.6\n}\n\n\n### 5) Chat\n\nInput: \"Are you happy?\"\n\n{\n  \"intent\": \"chat\",\n  \"keyword\": \"\",\n  \"platforms\": \"all\",\n  \"reddit_sort\": \"relevance\",\n  \"reddit_time\": \"week\",\n  \"n8ncom_sort\": \"views\",\n  \"n8ncom_time\": \"after:{{ new Date().getFullYear() + \"-\" + String(new Date().getMonth() + 1).padStart(2, \"0\") }}-01\",\n  \"limit\": 10,\n  \"page\": 1,\n  \"link_url\": \"\",\n  \"language\": \"vi\",\n  \"confidence\": 0.9\n}\n"
        },
        "promptType": "define",
        "needsFallback": true,
        "hasOutputParser": true
      },
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "id": "bdf1d6ec-fbb2-42ec-8f43-7ebc7532d83b",
      "name": "Branch by Intent",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3584,
        -272
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f4942c18-c543-47c3-a726-fa8f708e5d0f",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "search"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3a053610-652c-4a96-8ed1-87ab66195be0",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "chat"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9c27b4b8-2bab-4edc-89c0-4113604c18cc",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "open_link"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "933b4904-e9c5-44e7-91df-d1ad181f2456",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "leftValue": "={{ $json.output.confidence }}",
                    "rightValue": 0.7
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "b8e028e6-6e0b-4b80-a830-0de0362c6b79",
      "name": "AI Summarizer Clarify",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -3760,
        400
      ],
      "parameters": {
        "text": "={{ $('Telegram Trigger - User Message').item.json.message.text }}",
        "options": {
          "systemMessage": "=Role\nYou are Ken, assistant to Nguyễn Thiệu Toàn. Task: when the current intent’s confidence < 0.7, QUICKLY VERIFY with one short question plus 2–3 clear tap-to-choose options. Use only the given inputs; do not browse the web or infer beyond scope.\n\nInputs\n- user_message: what bro Toàn just asked or typed.\n- intent_info_json: the current inferred intent data (intent, keyword, platform/sort/time, open_link/context_ref, reply, language, confidence…).\n<intent_info_json>\n{{ JSON.stringify($('Detect User Intent').item.json.output) }}\n</intent_info_json>\n\nGoal\n- Clarify the SINGLE most ambiguous point:\n  1) Action? (search | open_link | chitchat/help)\n  2) Keyword/target? (keyword)\n  3) Platform? (reddit | n8n community | both)\n  4) Time range? (today | this week | this month | this year | all)\n  5) Sorting? (hot/new/top/comments | latest/likes/views/latest_topic/votes)\n- Turn the clarification into click-ready choices, minimize typing.\n\nResponse rules\n- Follow the language of user_message (default: Vietnamese).\n- Friendly, concise, light Gen-Z tone; ≤ 2 emojis.\n- Do NOT mention “confidence” or internal system details.\n- Do NOT invent links/titles if base lacks them.\n- If intent_info_json already says chitchat/datetime/help and includes a ready reply → send that brief reply, don’t ask further.\n- If most info is missing → ask for keyword first.\n\nOutput format (required)\n- Return a SINGLE valid Telegram HTML string:\n  - Allowed tags: <b>, <i>, <u>, <a href=\"…\">, <code>, <pre>, <blockquote>, <br>\n  - First line must be a short bold label.\n  - Use the bullet “• ” for options (do not use <ul><li>).\n\nHeuristic to pick the clarification focus\n- Missing/uncertain keyword → ask keyword first.\n- Have keyword but missing platform → ask platform.\n- Have platform but missing time/sort → ask time first, then sort.\n- If user said “view details” but link is empty and only context_ref exists → ask to confirm result #n or request the link.\n\nSample responses\n1) Clarify action (search vs open_link)\n<b>🧐 Quick check</b><br>\nDo you want to <b>search posts</b> about <i>webhook signature</i> or <b>open details</b> of a specific post?<br>\n• Search latest posts<br>\n• Open details of item #2<br>\n• Neither of these\n\n2) Choose platform\n<b>🔎 Where should I search?</b><br>\nPick the platform:<br>\n• Reddit r/n8n<br>\n• n8n Community<br>\n• Both platforms\n\n3) Choose time range\n<b>⏱️ Which time range?</b><br>\n• Today/This week<br>\n• This month/This year<br>\n• All time\n\n4) Missing keyword\n<b>✍️ What topic do you want?</b><br>\nExamples: <i>Telegram Trigger 429</i>, <i>Google Sheets append row</i>, <i>HTTP Request OAuth2</i><br>\n• Telegram Trigger 429<br>\n• Webhook signature verification<br>\n• I’ll type another keyword\n\n5) View details but missing link\n<b>🔗 Which post should I open?</b><br>\n• Open item #2 from the previous list<br>\n• I’ll send a link to open<br>\n• Nah, go back to an overview search\n\nWorkflow execution hints\n- This node runs only when confidence < 0.7.\n- After the user picks one option, update intent/params accordingly, then jump to the main action branch (search/open_link).\n- If the user is silent > 60s, send one gentle reminder with 2 short options.\n\nRequired output\n- Send ONLY a Telegram HTML string (no JSON, no extra explanation).\n"
        },
        "promptType": "define",
        "needsFallback": true
      },
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "id": "5315f81c-eb80-41d4-81b1-c899e48dc8bb",
      "name": "AI Summarizer Deep-dive",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1216,
        -256
      ],
      "parameters": {
        "text": "={{ $('Telegram Trigger - User Message').item.json.message.text }}",
        "options": {
          "systemMessage": "=## Role\nYou are **Ken**, assistant to Nguyễn Thiệu Toàn. Your job: read the boss’s request (my **bro**) + the provided base info (base_info_json) and craft a reply **ONLY** from that data. No web browsing, no made-up facts. In every reply, speak in first person as **“tui”** and address the boss as **“bro”**, showing playful admiration (while staying professional).\n\n## Inputs\n- user_message: the latest message from bro Toàn.\n- base_info_json: the injected data from n8n (do not infer beyond this). This may simply be an intent analysis if bro only greeted or chit-chatted.\n<base_info_json>\n{{ JSON.stringify($('Wrap as Data Object').item.json.data) }}\n</base_info_json>\n\nIntent & response modes\n1) Search overview:\n   - base_info_json contains a LIST of results (title, platform, short summary, time, URL).\n   - Goal: quickly summarize 3–6 notable items, highlight key points & suggest next steps.\n2) Deep-dive on a single post:\n   - base_info_json contains EXTRACTED CONTENT (post + replies) with author & commenters.\n   - Goal: structured summary, key insights from post & replies, conclusions/actionable steps.\n3) Chitchat:\n   - If bro is just greeting/asking what the bot can do: friendly, short guidance.\n4) Missing/insufficient data:\n   - Say exactly what is missing and suggest running search again or providing a URL / result #N.\n\nStyle\n- Friendly, upbeat, Gen-Z, concise, pragmatic. Emojis allowed but ≤ 2 per block.\n- Speak as **tui**; call bro **bro**. Playful, energetic, a bit cheeky—but helpful.\n- Default Vietnamese; if bro writes in another language, reply in that language.\n- Avoid long jargon; focus on “get it done”.\n\nOutput format (Telegram HTML, required)\n- Only use Telegram-supported HTML tags: <b>, <i>, <u>, <a href=\"...\">, <code>, <pre>, <blockquote>.\n- No Markdown, no JSON, no text outside HTML.\n- First line is a short bold heading. Use the bullet “• ” for lists (do not use <ul><li>).\n\nData & safety rules\n- Quote only content present in <base_info_json>. No invented URLs, no assumptions.\n- If a field is missing (e.g., post time), write “(unknown)” instead of guessing.\n- Link to the original when a URL is available; otherwise say “no link in data”.\n- You may quote short snippets via <blockquote>…</blockquote> (≤ 2–3 sentences each).\n- Add a brief freshness note if the info seems old (based on timestamps in base).\n- You always provide detail information on each topic: post time, author, number of vote/like, number of post/comment...\n\nSample response for search overview (always attach links to searchable results)\n<b>🔎 Quick roundup on Webhook signature in n8n</b>\n• <b>[n8n Community]</b> <a href=\"https://community.n8n.io/t/example-post-12345\">Verify Webhook HMAC</a> — How to set the secret and compare HMAC signatures (2025-08-12)\n• <b>[Reddit]</b> <a href=\"https://reddit.com/r/n8n/comments/abc123/example\">Best practices for webhook signature</a> — Discussion on timestamps & replay protection (2025-07-30)\n• <b>[n8n Community]</b> <a href=\"https://community.n8n.io/t/example-post-67890\">Troubleshoot invalid signature</a> — Common pitfalls & logging tips (2025-06-18)\n<i>Heads-up:</i> Bro want tui to deep-dive #1/#2 or filter by “top/this month”? 🧭\n\nSample response (deep-dive)\n<b>🧩 Deep-dive: Verify Webhook HMAC in n8n</b>\n<i>Platform:</i> n8n Community · <i>Author:</i> alice_dev · <i>Time:</i> 2025-08-12\n<blockquote>“After enabling ‘Enable Signature Verification’, set the secret and compare the signature header with the value computed from body + timestamp.”</blockquote>\n<b>Summary:</b> Post explains enabling signature verification for the Webhook node and computing HMAC over the raw body + timestamp to prevent replay. Discussion centers on signing order, time skew handling, and logging when payload changes.\n<b>Notables:</b>\n• Check time skew within ±5 minutes for safety<br>\n• Log raw body before parsing for accurate HMAC<br>\n• Disable client auto-format if it mutates payload\n<b>Takeaways:</b>\n• Enforce timestamp & nonce — reduces replay risk<br>\n• Compare signature over raw body — avoids serialize drift\n<i>Original:</i> <a href=\"https://community.n8n.io/t/example-post-12345\">community.n8n.io</a>\n\nPresentation rules\n- Length: tune to the ask, but keep it short and punchy.\n- Structure: heading → 1-line summary → bullets → CTA.\n- If many items are near-duplicates, group/compare briefly (“(similar content)”).\n\nWhen data doesn’t match intent\n- Bro wants a deep-dive but base has only a LIST → prompt: “Pick #n or send a URL so I can dive in.”\n- Bro wants overview but base has only 1 item → summarize that item (mini deep-dive) + suggest expanding the search.\n\nRequired output\n- Return a SINGLE valid Telegram HTML string.\n- No technical prefixes/suffixes, no extra explanations beyond the reply itself.\n"
        },
        "promptType": "define",
        "needsFallback": true
      },
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "id": "09f5f2fc-a1ec-4d14-a45a-6b683aefcecf",
      "name": "AI Summarizer Overview",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -4048,
        -944
      ],
      "parameters": {
        "text": "[Yêu cầu tự động] Tổng hợp tin hot nhất trong ngày gửi tới người dùng",
        "options": {
          "systemMessage": "=## Role\nYou are **Ken**, assistant to Nguyễn Thiệu Toàn. Your job: read the boss’s request (my **bro**) + the provided base info (base_info_json) and craft a reply **ONLY** from that data. No web browsing, no made-up facts. In every reply, speak in first person as **“tui”** and address the boss as **“bro”**, showing playful admiration (while staying professional).\n\n## Inputs\n- user_message: the latest message from bro Toàn.\n- base_info_json: the injected data from n8n (do not infer beyond this). This may simply be an intent analysis if bro only greeted or chit-chatted.\n<base_info_json>\n{{ JSON.stringify($('Wrap as Data Object2').item.json.data) }}\n</base_info_json>\n\nIntent & response modes\n1) Search overview:\n   - base_info_json contains a LIST of results (title, platform, short summary, time, URL).\n   - Goal: quickly summarize 3–6 notable items, highlight key points & suggest next steps.\n2) Deep-dive on a single post:\n   - base_info_json contains EXTRACTED CONTENT (post + replies) with author & commenters.\n   - Goal: structured summary, key insights from post & replies, conclusions/actionable steps.\n3) Chitchat:\n   - If bro is just greeting/asking what the bot can do: friendly, short guidance.\n4) Missing/insufficient data:\n   - Say exactly what is missing and suggest running search again or providing a URL / result #N.\n\nStyle\n- Friendly, upbeat, Gen-Z, concise, pragmatic. Emojis allowed but ≤ 2 per block.\n- Speak as **tui**; call bro **bro**. Playful, energetic, a bit cheeky—but helpful.\n- Default Vietnamese; if bro writes in another language, reply in that language.\n- Avoid long jargon; focus on “get it done”.\n\nOutput format (Telegram HTML, required)\n- Only use Telegram-supported HTML tags: <b>, <i>, <u>, <a href=\"...\">, <code>, <pre>, <blockquote>.\n- No Markdown, no JSON, no text outside HTML.\n- First line is a short bold heading. Use the bullet “• ” for lists (do not use <ul><li>).\n\nData & safety rules\n- Quote only content present in <base_info_json>. No invented URLs, no assumptions.\n- If a field is missing (e.g., post time), write “(unknown)” instead of guessing.\n- Link to the original when a URL is available; otherwise say “no link in data”.\n- You may quote short snippets via <blockquote>…</blockquote> (≤ 2–3 sentences each).\n- Add a brief freshness note if the info seems old (based on timestamps in base).\n\nSample response for search overview (always attach links to searchable results)\n<b>🔎 Quick roundup on Webhook signature in n8n</b>\n• <b>[n8n Community]</b> <a href=\"https://community.n8n.io/t/example-post-12345\">Verify Webhook HMAC</a> — How to set the secret and compare HMAC signatures (2025-08-12)\n• <b>[Reddit]</b> <a href=\"https://reddit.com/r/n8n/comments/abc123/example\">Best practices for webhook signature</a> — Discussion on timestamps & replay protection (2025-07-30)\n• <b>[n8n Community]</b> <a href=\"https://community.n8n.io/t/example-post-67890\">Troubleshoot invalid signature</a> — Common pitfalls & logging tips (2025-06-18)\n<i>Heads-up:</i> Bro want tui to deep-dive #1/#2 or filter by “top/this month”? 🧭\n\nSample response (deep-dive)\n<b>🧩 Deep-dive: Verify Webhook HMAC in n8n</b>\n<i>Platform:</i> n8n Community · <i>Author:</i> alice_dev · <i>Time:</i> 2025-08-12\n<blockquote>“After enabling ‘Enable Signature Verification’, set the secret and compare the signature header with the value computed from body + timestamp.”</blockquote>\n<b>Summary:</b> Post explains enabling signature verification for the Webhook node and computing HMAC over the raw body + timestamp to prevent replay. Discussion centers on signing order, time skew handling, and logging when payload changes.\n<b>Notables:</b>\n• Check time skew within ±5 minutes for safety<br>\n• Log raw body before parsing for accurate HMAC<br>\n• Disable client auto-format if it mutates payload\n<b>Takeaways:</b>\n• Enforce timestamp & nonce — reduces replay risk<br>\n• Compare signature over raw body — avoids serialize drift\n<i>Original:</i> <a href=\"https://community.n8n.io/t/example-post-12345\">community.n8n.io</a>\n\nPresentation rules\n- Length: tune to the ask, but keep it short and punchy.\n- Structure: heading → 1-line summary → bullets → CTA.\n- If many items are near-duplicates, group/compare briefly (“(similar content)”).\n\nWhen data doesn’t match intent\n- Bro wants a deep-dive but base has only a LIST → prompt: “Pick #n or send a URL so I can dive in.”\n- Bro wants overview but base has only 1 item → summarize that item (mini deep-dive) + suggest expanding the search.\n\nRequired output\n- Return a SINGLE valid Telegram HTML string.\n- No technical prefixes/suffixes, no extra explanations beyond the reply itself.\n"
        },
        "promptType": "define",
        "needsFallback": true
      },
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "id": "95c1089d-573f-4728-9459-126100d57a60",
      "name": "Format for Telegram Output",
      "type": "n8n-nodes-base.code",
      "position": [
        -928,
        -256
      ],
      "parameters": {
        "jsCode": "/**\n * Telegram HTML Normalizer + Chunker (≤ 2000 chars)\n * - Markdown → Telegram HTML (a,b,i,u,s,code,pre,blockquote)  [NO <br>]\n * - Map/strip unsupported tags, sanitize attributes\n * - Convert all <br> to '\\n' (Telegram doesn't support <br>)\n * - Preserve links/code/pre; do NOT split inside <a>/<pre>/<blockquote> and inline pairs\n * - Close/reopen ONLY long-lived tags per chunk (a, pre, blockquote)\n * - Prevent stray closing tags and treat lone \"<\" safely\n */\n\nconst MAX_LEN = 2000;\n\n/* === Get input === */\nlet text = ($input.first().json.output ?? $input.first().json.text ?? '').trim();\nif (!text) return [];\n\n/* === Allowed Telegram tags (NO <br>) === */\nconst allowed = new Set(['a','b','i','u','s','code','pre','blockquote']);\n\n/* ---------- Utils ---------- */\nconst escapeHtml = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nfunction sanitizeHref(href){\n  if (!href) return '';\n  const h = String(href).trim().replace(/^['\"]|['\"]$/g,'');\n  const lower = h.toLowerCase();\n  if (lower.startsWith('javascript:') || lower.startsWith('data:')) return '';\n  return h;\n}\n\n/* ---------- 1) Markdown -> HTML ---------- */\nfunction mdToHtml(md){\n  let s = md;\n  // code block\n  s = s.replace(/```([\\s\\S]*?)```/g, (m,p1)=>`<pre>${escapeHtml(p1.trim())}</pre>`);\n  // inline code\n  s = s.replace(/`([^`]+)`/g, (m,p1)=>`<code>${escapeHtml(p1)}</code>`);\n  // bold / italic / underline / strike\n  s = s.replace(/\\*\\*([^*]+)\\*\\*/g, '<b>$1</b>');\n  s = s.replace(/(^|[\\s(])\\*([^*\\n]+)\\*(?=$|[\\s).,!?\\]])/g, '$1<i>$2</i>');\n  s = s.replace(/__([^_]+)__/g, '<u>$1</u>');\n  s = s.replace(/~~([^~]+)~~/g, '<s>$1</s>');\n  // headers → bold + newline\n  s = s.replace(/^(#{1,6})\\s+(.+)$/gm, (m, hashes, content)=>`<b>${content.trim()}</b>\\n`);\n  // list markers → bullet\n  s = s.replace(/^[\\-\\*\\+]\\s+(.+)$/gm, '• $1');\n  // [text](url)\n  s = s.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, (m,txt,url)=>{\n    const safe = sanitizeHref(url);\n    return safe ? `<a href=\"${safe}\">${txt}</a>` : txt;\n  });\n  return s;\n}\n\n/* ---------- 2) Protect <pre>/<code> contents ---------- */\nfunction protectPreCodeBlocks(input){\n  const placeholders = [];\n  let out = input;\n\n  out = out.replace(/<pre\\b[^>]*>([\\s\\S]*?)<\\/pre>/gi, (m, inner)=>{\n    const token = `__PRE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'pre', content: escapeHtml(inner)});\n    return token;\n  });\n\n  out = out.replace(/<code\\b[^>]*>([\\s\\S]*?)<\\/code>/gi, (m, inner)=>{\n    const token = `__CODE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'code', content: escapeHtml(inner)});\n    return token;\n  });\n\n  const restore = (s)=>{\n    for (const ph of placeholders){\n      s = s.split(ph.token).join(`<${ph.tag}>${ph.content}</${ph.tag}>`);\n    }\n    return s;\n  };\n\n  return { text: out, restore };\n}\n\n/* ---------- 3) HTML normalize ---------- */\nfunction htmlNormalize(input){\n  let s = input;\n\n  // Convert ALL <br> to newlines for Telegram HTML\n  s = s.replace(/<br\\s*\\/?>/gi, '\\n');\n\n  // lists\n  s = s.replace(/<li[^>]*>/gi, '• ').replace(/<\\/li>/gi, '\\n');\n  s = s.replace(/<\\/?(ul|ol)[^>]*>/gi, '');\n\n  // paragraphs/divs → newlines\n  s = s.replace(/<p[^>]*>/gi, '').replace(/<\\/p>/gi, '\\n\\n');\n  s = s.replace(/<div[^>]*>/gi, '').replace(/<\\/div>/gi, '\\n');\n\n  // headers → <b> + newline\n  s = s.replace(/<h[1-6][^>]*>([\\s\\S]*?)<\\/h[1-6]>/gi, (m, inner)=>`<b>${inner.trim()}</b>\\n`);\n\n  // Map aliases -> canonical\n  s = s.replace(/<\\/?strong\\b/gi, t=>t.replace(/strong/i,'b'));\n  s = s.replace(/<\\/?em\\b/gi, t=>t.replace(/em/i,'i'));\n  s = s.replace(/<\\/?ins\\b/gi, t=>t.replace(/ins/i,'u'));\n  s = s.replace(/<\\/?(strike|del)\\b/gi, t=>t.replace(/strike|del/i,'s'));\n\n  // remove spans\n  s = s.replace(/<\\/?span[^>]*>/gi, '');\n\n  // images -> textual hint\n  s = s.replace(/<img[^>]*src\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)[^>]*>/gi, (m,src)=>{\n    const clean = String(src).replace(/^['\"]|['\"]$/g,'');\n    return ` (ảnh: ${clean}) `;\n  });\n\n  return s;\n}\n\n/* ---------- 3.5) Escape lone '<' that are NOT valid tags ---------- */\nfunction escapeLoneAngles(input){\n  // allow only tags in: a|b|i|u|s|code|pre|blockquote  (NO br)\n  return input.replace(/<(?!\\/?(a|b|i|u|s|code|pre|blockquote)\\b)/gi, '&lt;');\n}\n\n/* ---------- 4) Sanitize tags (keep only Telegram tags) ---------- */\nfunction sanitizeHtml(input){\n  return input.replace(/<\\/?([a-z0-9]+)(\\s+[^>]*)?>/gi, (full, tag, attrs='')=>{\n    const t = tag.toLowerCase();\n\n    if (t === 'a'){\n      if (full.startsWith('</')) return '</a>';\n      const hrefMatch = attrs.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n      const safeHref = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n      return safeHref ? `<a href=\"${safeHref}\">` : '';\n    }\n\n    if (!allowed.has(t)) return ''; // drop unsupported\n    return full[1] === '/' ? `</${t}>` : `<${t}>`;\n  });\n}\n\n/* ---------- 5) Track ONLY long-lived tags across chunks ---------- */\n/* We only track <a>, <pre>, <blockquote> so inline pairs never get auto-closed. */\nfunction getOpenTagsWithAttrs(html){\n  const trackable = new Set(['a','pre','blockquote']);\n  const stack = [];\n  const re = /<\\/?([a-z0-9]+)(?:\\s+[^>]*)?>/gi;\n  let m;\n  while ((m = re.exec(html))){\n    const raw = m[0];\n    const t = m[1].toLowerCase();\n    if (!trackable.has(t)) continue;\n\n    if (raw[1] === '/'){\n      const idx = [...stack].reverse().findIndex(e=>e.tag===t);\n      if (idx !== -1) stack.splice(stack.length - 1 - idx, 1);\n    } else {\n      if (t === 'a'){\n        const hrefMatch = raw.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n        const href = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n        if (href) stack.push({tag:'a', href});\n      } else {\n        stack.push({tag:t});\n      }\n    }\n  }\n  return stack;\n}\nconst closeTags   = (open)=>[...open].reverse().map(e=>`</${e.tag}>`).join('');\nconst openTagsStr = (open)=>open.map(e=>e.tag==='a'?`<a href=\"${e.href}\">`:`<${e.tag}>`).join('');\n\n/* ---------- 6) Normalize pipeline ---------- */\nfunction normalizeToTelegramHtml(input){\n  const looksLikeMd = /(^|\\s)[*_`~]|^#{1,6}\\s|```/.test(input);\n  let s = looksLikeMd ? mdToHtml(input) : input;\n\n  s = htmlNormalize(s);\n\n  const protector = protectPreCodeBlocks(s);\n  s = protector.text;\n\n  // avoid \"<10\" etc. being treated as a tag\n  s = escapeLoneAngles(s);\n\n  s = sanitizeHtml(s);\n  s = protector.restore(s);\n\n  // collapse multiple newlines\n  s = s.replace(/\\n{3,}/g, '\\n\\n').trim();\n  return s;\n}\n\n/* ---------- 7) Split safely ---------- */\nfunction splitHtmlSmart(html, maxLen){\n  // Atomic segments: a, pre, blockquote, and inline pairs b/i/u/s/code\n  const re = /(<a\\b[^>]*>[\\s\\S]*?<\\/a>)|(<pre\\b[^>]*>[\\s\\S]*?<\\/pre>)|(<blockquote\\b[^>]*>[\\s\\S]*?<\\/blockquote>)|(<b\\b[^>]*>[\\s\\S]*?<\\/b>)|(<i\\b[^>]*>[\\s\\S]*?<\\/i>)|(<u\\b[^>]*>[\\s\\S]*?<\\/u>)|(<s\\b[^>]*>[\\s\\S]*?<\\/s>)|(<code\\b[^>]*>[\\s\\S]*?<\\/code>)|(<[^>]+>)|([^<]+)/gi;\n\n  const segments = [];\n  let m;\n  while ((m = re.exec(html))){\n    segments.push(\n      m[1] || m[2] || m[3] || m[4] || m[5] || m[6] || m[7] || m[8] ||\n      m[9] || m[10] // raw tag (will be sanitized already) or plain text (may contain \\n)\n    );\n  }\n\n  const chunks = [];\n  let buffer = '';\n  let prefixOpen = '';\n\n  const pushBuffer = ()=>{\n    if (!buffer.trim()) { buffer = ''; return; }\n    let out = prefixOpen + buffer;\n    // Only close a/pre/blockquote\n    const open = getOpenTagsWithAttrs(out);\n    out += closeTags(open);\n    prefixOpen = openTagsStr(open); // reopen at next chunk if any\n    chunks.push(out.trim());\n    buffer = '';\n  };\n\n  // Shrink visible text inside <a> if needed\n  const shrinkAnchorIfTooLong = (seg, room)=>{\n    const mm = /^<a\\b[^>]*>([\\s\\S]*?)<\\/a>$/i.exec(seg);\n    if (!mm) return seg;\n    const visible = mm[1];\n    if (seg.length <= room) return seg;\n    const truncated = (visible.length > room - 30) ? (visible.slice(0, Math.max(3, room - 33)) + '...') : visible;\n    return seg.replace(visible, truncated);\n  };\n\n  // Split huge <pre> / <blockquote> into multiple wrapped chunks\n  const splitWrappedBlock = (segTag, seg, available)=>{\n    const rx = new RegExp(`^<${segTag}[^>]*>([\\\\s\\\\S]*)<\\\\/${segTag}>$`, 'i');\n    const mm = rx.exec(seg);\n    if (!mm) return false;\n    let content = mm[1];\n    const shellLen = (`<${segTag}></${segTag}>`).length;\n\n    if (seg.length <= available) return false;\n\n    if (buffer.trim()) pushBuffer();\n\n    while (content.length){\n      const room = Math.max(200, maxLen - prefixOpen.length - shellLen - 10);\n      const slice = content.slice(0, room);\n      buffer = `<${segTag}>${slice}</${segTag}>`;\n      pushBuffer();\n      content = content.slice(slice.length);\n    }\n    return true;\n  };\n\n  for (const seg of segments){\n    const segLen = seg.length;\n\n    // if appending seg would overflow\n    if ((prefixOpen.length + buffer.length + segLen) > maxLen){\n\n      // Try shrinking anchor text\n      if (/^<a\\b/i.test(seg)){\n        const room = maxLen - prefixOpen.length - buffer.length - 1;\n        const shrunk = shrinkAnchorIfTooLong(seg, Math.max(60, room));\n        if ((prefixOpen.length + buffer.length + shrunk.length) <= maxLen){\n          buffer += shrunk;\n          continue;\n        }\n      }\n\n      // Split huge <pre>/<blockquote>\n      const available = maxLen - prefixOpen.length - buffer.length;\n      if (/^<pre\\b/i.test(seg) && splitWrappedBlock('pre', seg, available)) continue;\n      if (/^<blockquote\\b/i.test(seg) && splitWrappedBlock('blockquote', seg, available)) continue;\n\n      // Push current chunk\n      pushBuffer();\n\n      // Place seg into new buffer or split plain text / hard-cut tag as last resort\n      if ((prefixOpen.length + segLen) <= maxLen){\n        buffer = seg;\n      } else if (!seg.startsWith('<')) {\n        // split plain text by whitespace/newlines then hard-cut if needed\n        const words = seg.split(/(\\s+)/);\n        for (const w of words){\n          const candidate = buffer + w;\n          if ((prefixOpen.length + candidate.length) > maxLen){\n            pushBuffer();\n            if ((prefixOpen.length + w.length) > maxLen){\n              let s = w;\n              const room = Math.max(200, maxLen - prefixOpen.length - 10);\n              while (s.length){\n                buffer = s.slice(0, room);\n                pushBuffer();\n                s = s.slice(room);\n              }\n            } else {\n              buffer = w;\n            }\n          } else {\n            buffer = candidate;\n          }\n        }\n      } else {\n        // FINAL FALLBACK: extremely long single tag (rare)\n        let start = 0;\n        const room = Math.max(200, maxLen - prefixOpen.length - 10);\n        while (start < segLen){\n          buffer = seg.slice(start, start + room);\n          pushBuffer();\n          start += room;\n        }\n      }\n      continue;\n    }\n\n    // fits → append\n    buffer += seg;\n  }\n\n  if (buffer.trim()) pushBuffer();\n  return chunks;\n}\n\n/* ===== Run ===== */\nconst normalized = normalizeToTelegramHtml(text);\nconst chunks = splitHtmlSmart(normalized, MAX_LEN);\n\n/* Export to Telegram node */\nreturn chunks.map(c => ({ json: { text: c } }));\n"
      },
      "typeVersion": 2
    },
    {
      "id": "7e9cff6c-0a6c-47c9-9993-c35153a4ed60",
      "name": "Clean and Chunk",
      "type": "n8n-nodes-base.code",
      "position": [
        -3680,
        -944
      ],
      "parameters": {
        "jsCode": "/**\n * Telegram HTML Normalizer + Chunker (≤ 2000 chars)\n * - Markdown → Telegram HTML (a,b,i,u,s,code,pre,blockquote)  [NO <br>]\n * - Map/strip unsupported tags, sanitize attributes\n * - Convert all <br> to '\\n' (Telegram doesn't support <br>)\n * - Preserve links/code/pre; do NOT split inside <a>/<pre>/<blockquote> and inline pairs\n * - Close/reopen ONLY long-lived tags per chunk (a, pre, blockquote)\n * - Prevent stray closing tags and treat lone \"<\" safely\n */\n\nconst MAX_LEN = 2000;\n\n/* === Get input === */\nlet text = ($input.first().json.output ?? $input.first().json.text ?? '').trim();\nif (!text) return [];\n\n/* === Allowed Telegram tags (NO <br>) === */\nconst allowed = new Set(['a','b','i','u','s','code','pre','blockquote']);\n\n/* ---------- Utils ---------- */\nconst escapeHtml = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nfunction sanitizeHref(href){\n  if (!href) return '';\n  const h = String(href).trim().replace(/^['\"]|['\"]$/g,'');\n  const lower = h.toLowerCase();\n  if (lower.startsWith('javascript:') || lower.startsWith('data:')) return '';\n  return h;\n}\n\n/* ---------- 1) Markdown -> HTML ---------- */\nfunction mdToHtml(md){\n  let s = md;\n  // code block\n  s = s.replace(/```([\\s\\S]*?)```/g, (m,p1)=>`<pre>${escapeHtml(p1.trim())}</pre>`);\n  // inline code\n  s = s.replace(/`([^`]+)`/g, (m,p1)=>`<code>${escapeHtml(p1)}</code>`);\n  // bold / italic / underline / strike\n  s = s.replace(/\\*\\*([^*]+)\\*\\*/g, '<b>$1</b>');\n  s = s.replace(/(^|[\\s(])\\*([^*\\n]+)\\*(?=$|[\\s).,!?\\]])/g, '$1<i>$2</i>');\n  s = s.replace(/__([^_]+)__/g, '<u>$1</u>');\n  s = s.replace(/~~([^~]+)~~/g, '<s>$1</s>');\n  // headers → bold + newline\n  s = s.replace(/^(#{1,6})\\s+(.+)$/gm, (m, hashes, content)=>`<b>${content.trim()}</b>\\n`);\n  // list markers → bullet\n  s = s.replace(/^[\\-\\*\\+]\\s+(.+)$/gm, '• $1');\n  // [text](url)\n  s = s.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, (m,txt,url)=>{\n    const safe = sanitizeHref(url);\n    return safe ? `<a href=\"${safe}\">${txt}</a>` : txt;\n  });\n  return s;\n}\n\n/* ---------- 2) Protect <pre>/<code> contents ---------- */\nfunction protectPreCodeBlocks(input){\n  const placeholders = [];\n  let out = input;\n\n  out = out.replace(/<pre\\b[^>]*>([\\s\\S]*?)<\\/pre>/gi, (m, inner)=>{\n    const token = `__PRE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'pre', content: escapeHtml(inner)});\n    return token;\n  });\n\n  out = out.replace(/<code\\b[^>]*>([\\s\\S]*?)<\\/code>/gi, (m, inner)=>{\n    const token = `__CODE_BLOCK_${placeholders.length}__`;\n    placeholders.push({token, tag:'code', content: escapeHtml(inner)});\n    return token;\n  });\n\n  const restore = (s)=>{\n    for (const ph of placeholders){\n      s = s.split(ph.token).join(`<${ph.tag}>${ph.content}</${ph.tag}>`);\n    }\n    return s;\n  };\n\n  return { text: out, restore };\n}\n\n/* ---------- 3) HTML normalize ---------- */\nfunction htmlNormalize(input){\n  let s = input;\n\n  // Convert ALL <br> to newlines for Telegram HTML\n  s = s.replace(/<br\\s*\\/?>/gi, '\\n');\n\n  // lists\n  s = s.replace(/<li[^>]*>/gi, '• ').replace(/<\\/li>/gi, '\\n');\n  s = s.replace(/<\\/?(ul|ol)[^>]*>/gi, '');\n\n  // paragraphs/divs → newlines\n  s = s.replace(/<p[^>]*>/gi, '').replace(/<\\/p>/gi, '\\n\\n');\n  s = s.replace(/<div[^>]*>/gi, '').replace(/<\\/div>/gi, '\\n');\n\n  // headers → <b> + newline\n  s = s.replace(/<h[1-6][^>]*>([\\s\\S]*?)<\\/h[1-6]>/gi, (m, inner)=>`<b>${inner.trim()}</b>\\n`);\n\n  // Map aliases -> canonical\n  s = s.replace(/<\\/?strong\\b/gi, t=>t.replace(/strong/i,'b'));\n  s = s.replace(/<\\/?em\\b/gi, t=>t.replace(/em/i,'i'));\n  s = s.replace(/<\\/?ins\\b/gi, t=>t.replace(/ins/i,'u'));\n  s = s.replace(/<\\/?(strike|del)\\b/gi, t=>t.replace(/strike|del/i,'s'));\n\n  // remove spans\n  s = s.replace(/<\\/?span[^>]*>/gi, '');\n\n  // images -> textual hint\n  s = s.replace(/<img[^>]*src\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)[^>]*>/gi, (m,src)=>{\n    const clean = String(src).replace(/^['\"]|['\"]$/g,'');\n    return ` (ảnh: ${clean}) `;\n  });\n\n  return s;\n}\n\n/* ---------- 3.5) Escape lone '<' that are NOT valid tags ---------- */\nfunction escapeLoneAngles(input){\n  // allow only tags in: a|b|i|u|s|code|pre|blockquote  (NO br)\n  return input.replace(/<(?!\\/?(a|b|i|u|s|code|pre|blockquote)\\b)/gi, '&lt;');\n}\n\n/* ---------- 4) Sanitize tags (keep only Telegram tags) ---------- */\nfunction sanitizeHtml(input){\n  return input.replace(/<\\/?([a-z0-9]+)(\\s+[^>]*)?>/gi, (full, tag, attrs='')=>{\n    const t = tag.toLowerCase();\n\n    if (t === 'a'){\n      if (full.startsWith('</')) return '</a>';\n      const hrefMatch = attrs.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n      const safeHref = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n      return safeHref ? `<a href=\"${safeHref}\">` : '';\n    }\n\n    if (!allowed.has(t)) return ''; // drop unsupported\n    return full[1] === '/' ? `</${t}>` : `<${t}>`;\n  });\n}\n\n/* ---------- 5) Track ONLY long-lived tags across chunks ---------- */\n/* We only track <a>, <pre>, <blockquote> so inline pairs never get auto-closed. */\nfunction getOpenTagsWithAttrs(html){\n  const trackable = new Set(['a','pre','blockquote']);\n  const stack = [];\n  const re = /<\\/?([a-z0-9]+)(?:\\s+[^>]*)?>/gi;\n  let m;\n  while ((m = re.exec(html))){\n    const raw = m[0];\n    const t = m[1].toLowerCase();\n    if (!trackable.has(t)) continue;\n\n    if (raw[1] === '/'){\n      const idx = [...stack].reverse().findIndex(e=>e.tag===t);\n      if (idx !== -1) stack.splice(stack.length - 1 - idx, 1);\n    } else {\n      if (t === 'a'){\n        const hrefMatch = raw.match(/href\\s*=\\s*(\"[^\"]+\"|'[^']+'|[^\\s>]+)/i);\n        const href = hrefMatch ? sanitizeHref(hrefMatch[1]) : '';\n        if (href) stack.push({tag:'a', href});\n      } else {\n        stack.push({tag:t});\n      }\n    }\n  }\n  return stack;\n}\nconst closeTags   = (open)=>[...open].reverse().map(e=>`</${e.tag}>`).join('');\nconst openTagsStr = (open)=>open.map(e=>e.tag==='a'?`<a href=\"${e.href}\">`:`<${e.tag}>`).join('');\n\n/* ---------- 6) Normalize pipeline ---------- */\nfunction normalizeToTelegramHtml(input){\n  const looksLikeMd = /(^|\\s)[*_`~]|^#{1,6}\\s|```/.test(input);\n  let s = looksLikeMd ? mdToHtml(input) : input;\n\n  s = htmlNormalize(s);\n\n  const protector = protectPreCodeBlocks(s);\n  s = protector.text;\n\n  // avoid \"<10\" etc. being treated as a tag\n  s = escapeLoneAngles(s);\n\n  s = sanitizeHtml(s);\n  s = protector.restore(s);\n\n  // collapse multiple newlines\n  s = s.replace(/\\n{3,}/g, '\\n\\n').trim();\n  return s;\n}\n\n/* ---------- 7) Split safely ---------- */\nfunction splitHtmlSmart(html, maxLen){\n  // Atomic segments: a, pre, blockquote, and inline pairs b/i/u/s/code\n  const re = /(<a\\b[^>]*>[\\s\\S]*?<\\/a>)|(<pre\\b[^>]*>[\\s\\S]*?<\\/pre>)|(<blockquote\\b[^>]*>[\\s\\S]*?<\\/blockquote>)|(<b\\b[^>]*>[\\s\\S]*?<\\/b>)|(<i\\b[^>]*>[\\s\\S]*?<\\/i>)|(<u\\b[^>]*>[\\s\\S]*?<\\/u>)|(<s\\b[^>]*>[\\s\\S]*?<\\/s>)|(<code\\b[^>]*>[\\s\\S]*?<\\/code>)|(<[^>]+>)|([^<]+)/gi;\n\n  const segments = [];\n  let m;\n  while ((m = re.exec(html))){\n    segments.push(\n      m[1] || m[2] || m[3] || m[4] || m[5] || m[6] || m[7] || m[8] ||\n      m[9] || m[10] // raw tag (will be sanitized already) or plain text (may contain \\n)\n    );\n  }\n\n  const chunks = [];\n  let buffer = '';\n  let prefixOpen = '';\n\n  const pushBuffer = ()=>{\n    if (!buffer.trim()) { buffer = ''; return; }\n    let out = prefixOpen + buffer;\n    // Only close a/pre/blockquote\n    const open = getOpenTagsWithAttrs(out);\n    out += closeTags(open);\n    prefixOpen = openTagsStr(open); // reopen at next chunk if any\n    chunks.push(out.trim());\n    buffer = '';\n  };\n\n  // Shrink visible text inside <a> if needed\n  const shrinkAnchorIfTooLong = (seg, room)=>{\n    const mm = /^<a\\b[^>]*>([\\s\\S]*?)<\\/a>$/i.exec(seg);\n    if (!mm) return seg;\n    const visible = mm[1];\n    if (seg.length <= room) return seg;\n    const truncated = (visible.length > room - 30) ? (visible.slice(0, Math.max(3, room - 33)) + '...') : visible;\n    return seg.replace(visible, truncated);\n  };\n\n  // Split huge <pre> / <blockquote> into multiple wrapped chunks\n  const splitWrappedBlock = (segTag, seg, available)=>{\n    const rx = new RegExp(`^<${segTag}[^>]*>([\\\\s\\\\S]*)<\\\\/${segTag}>$`, 'i');\n    const mm = rx.exec(seg);\n    if (!mm) return false;\n    let content = mm[1];\n    const shellLen = (`<${segTag}></${segTag}>`).length;\n\n    if (seg.length <= available) return false;\n\n    if (buffer.trim()) pushBuffer();\n\n    while (content.length){\n      const room = Math.max(200, maxLen - prefixOpen.length - shellLen - 10);\n      const slice = content.slice(0, room);\n      buffer = `<${segTag}>${slice}</${segTag}>`;\n      pushBuffer();\n      content = content.slice(slice.length);\n    }\n    return true;\n  };\n\n  for (const seg of segments){\n    const segLen = seg.length;\n\n    // if appending seg would overflow\n    if ((prefixOpen.length + buffer.length + segLen) > maxLen){\n\n      // Try shrinking anchor text\n      if (/^<a\\b/i.test(seg)){\n        const room = maxLen - prefixOpen.length - buffer.length - 1;\n        const shrunk = shrinkAnchorIfTooLong(seg, Math.max(60, room));\n        if ((prefixOpen.length + buffer.length + shrunk.length) <= maxLen){\n          buffer += shrunk;\n          continue;\n        }\n      }\n\n      // Split huge <pre>/<blockquote>\n      const available = maxLen - prefixOpen.length - buffer.length;\n      if (/^<pre\\b/i.test(seg) && splitWrappedBlock('pre', seg, available)) continue;\n      if (/^<blockquote\\b/i.test(seg) && splitWrappedBlock('blockquote', seg, available)) continue;\n\n      // Push current chunk\n      pushBuffer();\n\n      // Place seg into new buffer or split plain text / hard-cut tag as last resort\n      if ((prefixOpen.length + segLen) <= maxLen){\n        buffer = seg;\n      } else if (!seg.startsWith('<')) {\n        // split plain text by whitespace/newlines then hard-cut if needed\n        const words = seg.split(/(\\s+)/);\n        for (const w of words){\n          const candidate = buffer + w;\n          if ((prefixOpen.length + candidate.length) > maxLen){\n            pushBuffer();\n            if ((prefixOpen.length + w.length) > maxLen){\n              let s = w;\n              const room = Math.max(200, maxLen - prefixOpen.length - 10);\n              while (s.length){\n                buffer = s.slice(0, room);\n                pushBuffer();\n                s = s.slice(room);\n              }\n            } else {\n              buffer = w;\n            }\n          } else {\n            buffer = candidate;\n          }\n        }\n      } else {\n        // FINAL FALLBACK: extremely long single tag (rare)\n        let start = 0;\n        const room = Math.max(200, maxLen - prefixOpen.length - 10);\n        while (start < segLen){\n          buffer = seg.slice(start, start + room);\n          pushBuffer();\n          start += room;\n        }\n      }\n      continue;\n    }\n\n    // fits → append\n    buffer += seg;\n  }\n\n  if (buffer.trim()) pushBuffer();\n  return chunks;\n}\n\n/* ===== Run ===== */\nconst normalized = normalizeToTelegramHtml(text);\nconst chunks = splitHtmlSmart(normalized, MAX_LEN);\n\n/* Export to Telegram node */\nreturn chunks.map(c => ({ json: { text: c } }));\n"
      },
      "typeVersion": 2
    },
    {
      "id": "2ca2aa77-8aac-4b10-90ef-c50f761dd815",
      "name": "Send Typing Action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -3824,
        -352
      ],
      "webhookId": "1a4e193f-797d-4fc1-864c-39696f402c67",
      "parameters": {
        "chatId": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "operation": "sendChatAction"
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d5f62000-a125-4c1e-9cfe-62dc9da93d22",
      "name": "Wrap as Data Object2",
      "type": "n8n-nodes-base.code",
      "position": [
        -4016,
        -1168
      ],
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      data: items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "55e22c80-a20f-42a9-9269-a2e3c43a51d0",
      "name": "Set Memory ID Session",
      "type": "n8n-nodes-base.set",
      "position": [
        -3808,
        -1168
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a4d9d186-0b7e-4e65-aecf-91f400e826d8",
              "name": "MyTelegramID",
              "type": "number",
              "value": 6163095869
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "7f388361-c84e-48ee-889d-5b0b95c1cfff",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -3024,
        -1152
      ],
      "webhookId": "90d574ef-d1b6-430b-a5a3-137421f2a6a9",
      "parameters": {
        "text": "=<i>Đang tìm kiếm trên: {{ $json.output.platforms }} \n- Keyword: <b>{{ $json.output.keyword }}</b>\n- Redit: {{ $json.output.reddit_sort }}, {{ $json.output.reddit_time }}\n- n8n Community: {{ $json.output.n8ncom_sort }}, {{ $json.output.n8ncom_time }} </i>",
        "chatId": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "bb7c34cf-c316-4b0a-9127-77cf1f9783c8",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -3136,
        288
      ],
      "webhookId": "d159421b-147e-46ee-a0c6-4c8077aadd90",
      "parameters": {
        "text": "=<i>Đang truy cập vào {{ $json.output.link_url }} để đọc dữ liệu</i>",
        "chatId": "={{ $('Telegram Trigger - User Message').item.json.message.from.id }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "o4Df0vGzQkRsas07",
          "name": "n8n Notification Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "5343abec-1bfa-45bf-9dc0-96bee2668e3e",
      "name": "Google Gemini Chat Model jaynguyena01",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1376,
        96
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "036fa9e2-83c5-487a-aac8-f85e3b56b834",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        -1232,
        144
      ],
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "credentials": {
        "groqApi": {
          "id": "n97HjLNwPywpbFTr",
          "name": "Groq jayracroi@gmail.com"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8d4835f6-44ce-4bb5-a230-addc393f618b",
      "name": "Call 'Auto-post Facebook \"The n8n Insider\"'",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        -1328,
        416
      ],
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "RGu53HJnureId8NU",
          "cachedResultUrl": "/workflow/RGu53HJnureId8NU",
          "cachedResultName": "(Active) Auto-post Facebook \"The n8n Insider\""
        },
        "workflowInputs": {
          "value": {
            "n8n_forum_topic_update": "={{JSON.stringify( $json) }}"
          },
          "schema": [
            {
              "id": "n8n_new_version_info",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "n8n_new_version_info",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "n8n_forum_topic_update",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "n8n_forum_topic_update",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "28c025a9-2eda-40a9-93dd-d74d01e2652f",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        -4592,
        -16
      ],
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "credentials": {
        "groqApi": {
          "id": "n97HjLNwPywpbFTr",
          "name": "Groq jayracroi@gmail.com"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "afedca3b-0e2f-4dcf-8a7d-e9b87ec2c140",
      "name": "Main Overview1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5568,
        -1344
      ],
      "parameters": {
        "width": 550,
        "height": 750,
        "content": "## Automate n8n Forum & Reddit Monitoring with an AI Telegram Assistant\n\nThis n8n template automates the collection, storage, and summarization of technology news and discussions from the n8n Community and Reddit (r/n8n). If you like staying informed but want to reduce daily manual browsing distractions, *this workflow is perfect for you*.\n\n### How it works\n1. **Intent Detection:** The workflow uses an AI Agent to classify your Telegram message intent (Search, Deep-dive, or Chat).\n2. **Search:** Automatically fetches discussions from the n8n Community and Reddit via HTTP Requests.\n3. **Summarization:** Extracts complex HTML content and uses AI to provide concise overviews or deep-dives.\n4. **Delivery:** Formats the AI's response into chunked Telegram messages and delivers them to you.\n5. **Daily Pulse:** A scheduled trigger automatically aggregates the hottest topics every morning.\n\n### Setup\n* [ ] Connect **Telegram Bot** credential.\n* [ ] Connect **Google Gemini** and **Groq** API credentials.\n* [ ] *(Optional)* Connect **MongoDB** instance for persistent chat memory.\n* [ ] Activate the workflow.\n\n### Customization tips\n* Swap the Gemini or Groq nodes for OpenAI or Claude.\n* Adjust the Cron expression to receive weekly summaries instead of daily.\n\n### LICENCE\nThis template is shared free of charge. Copyright belongs to Nguyen Thieu Toan. Any copying or modification must credit the author."
      },
      "typeVersion": 1
    },
    {
      "id": "c40cb89f-c606-4917-8b13-3ed01ad4fb9a",
      "name": "Section ",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4976,
        -1344
      ],
      "parameters": {
        "color": 7,
        "width": 1584,
        "height": 800,
        "content": "## Section 1: Daily Pulse Automation\nRuns every morning at a set time. Fetches trending posts from Reddit and the n8n Forum, summarizes the hottest discussions into concise insights, and delivers them seamlessly via Telegram."
      },
      "typeVersion": 1
    },
    {
      "id": "432568a3-525d-46c0-a192-a3664f6714fe",
      "name": "Section 6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4976,
        -448
      ],
      "parameters": {
        "color": 7,
        "width": 1584,
        "height": 1350,
        "content": "## Section 2: On-demand User Interaction\nListens to user queries in real-time via Telegram. Uses AI Agent to identify whether the user wants a quick search, a deep dive, or a casual chat. Includes confidence checking and verification when intent is unclear."
      },
      "typeVersion": 1
    },
    {
      "id": "88622767-88c4-4101-9288-92cd26d06676",
      "name": "Section 7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3328,
        -1344
      ],
      "parameters": {
        "color": 7,
        "width": 1792,
        "height": 1168,
        "content": "## Section 3: Multi-Platform Search & Merge\nDirects queries to Reddit, n8n Forum, or both based on intent. Dynamically builds API calls, standardizes data for clean processing, and combines different sources into a unified dataset."
      },
      "typeVersion": 1
    },
    {
      "id": "a0dcd2a0-395a-4e27-a3b5-9c85edf8ded2",
      "name": "Section 8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3328,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 1792,
        "height": 880,
        "content": "## Section 4: Deep Dive into Post Details\nRetrieves full content (title, author, text, stats) and collects/organizes comments. Bundles everything into a structured object ready for AI processing."
      },
      "typeVersion": 1
    },
    {
      "id": "5fe930ea-953b-46d2-afb8-e3d2ebeb5f55",
      "name": "Section 9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        -496
      ],
      "parameters": {
        "color": 7,
        "width": 864,
        "height": 1376,
        "content": "## Section 5: Summary, Formatting, and Delivery\nProduces comprehensive summaries and insights. Cleans and splits text for Telegram readability, and sends results back to the user with polish and precision."
      },
      "typeVersion": 1
    },
    {
      "id": "dc18bc65-4c8f-45c8-af76-05a8db83c129",
      "name": "Warning1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4928,
        -800
      ],
      "parameters": {
        "color": 3,
        "width": 360,
        "height": 220,
        "content": "## ⚠️ Important!\n\nUpdate your `googlePalmApi`, `Groq`, and `Telegram` credentials before running. Ensure your Telegram Chat ID is configured correctly for the Daily Pulse."
      },
      "typeVersion": 1
    },
    {
      "id": "916d52ed-6d0e-4beb-8176-711ef796a6be",
      "name": "Author Message1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5568,
        -528
      ],
      "parameters": {
        "color": 4,
        "width": 550,
        "height": 380,
        "content": "## Author Message\n\nHi! I am **Nguyen Thieu Toan (Jay Nguyen)** — a Verified n8n Creator. Thank you for using this template!\n\nThis workflow is shared with you for free. If it brings value to your work, optimizes your operations, or saves you time, you can buy me a coffee here: **[My Donate Website](https://nguyenthieutoan.com/payment/)** *(PayPal, Momo, Bank Transfer)*\n\n* Website: [nguyenthieutoan.com](https://nguyenthieutoan.com)\n* Email: me@nguyenthieutoan.com\n* Company: GenStaff ([genstaff.net](https://genstaff.net))\n* Socials (Facebook / X / LinkedIn): @nguyenthieutoan\n\n*Discover more of my automation solutions:* **[Click here](https://n8n.io/creators/nguyenthieutoan/)**"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Reddit": {
      "main": [
        [
          {
            "node": "Get Only Search Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment": {
      "main": [
        [
          {
            "node": "Get Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has time?": {
      "main": [
        [
          {
            "node": "Reddit Search page JSON (has time)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reddit Search page (no time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform?": {
      "main": [
        [
          {
            "node": "n8n Community Fetch JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has keyword?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has keyword?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n Community Fetch JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reddit?": {
      "main": [
        [
          {
            "node": "Get Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comment": {
      "main": [
        [
          {
            "node": "Comment Summary 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comment1": {
      "main": [
        [
          {
            "node": "Comment Summary 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has keyword?": {
      "main": [
        [
          {
            "node": "Reddit Search page JSON (no keyword)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has time?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sources1": {
      "main": [
        [
          {
            "node": "Wrap as Data Object2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Chunk": {
      "main": [
        [
          {
            "node": "Send Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Detect User Intent",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "AI Summarizer Overview",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "AI Summarizer Clarify",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Branch by Intent": {
      "main": [
        [
          {
            "node": "Platform?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrap as Data Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open link Reddit or n8n Comunity?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Summarizer Clarify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Chunk2": {
      "main": [
        [
          {
            "node": "Send reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Content": {
      "main": [
        [
          {
            "node": "Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Link Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer Deep-dive",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n Community Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Summary 1": {
      "main": [
        [
          {
            "node": "Merge Link Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Comment Summary 2": {
      "main": [
        [
          {
            "node": "Merge Link Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Topic Content": {
      "main": [
        [
          {
            "node": "Merge Link Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n Community?": {
      "main": [
        [
          {
            "node": "Get Topic Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Comment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect User Intent": {
      "main": [
        [
          {
            "node": "Branch by Intent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Typing Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Link Content": {
      "main": [
        [
          {
            "node": "Wrap as Data Object",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Auto-post Facebook \"The n8n Insider\"'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Search Result": {
      "main": [
        [
          {
            "node": "Wrap as Data Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Detect User Intent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wrap as Data Object": {
      "main": [
        [
          {
            "node": "AI Summarizer Deep-dive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Community Fetch": {
      "main": [
        [
          {
            "node": "Get Only Search Result2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Summarizer Deep-dive",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Summarizer Overview",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Summarizer Clarify",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wrap as Data Object2": {
      "main": [
        [
          {
            "node": "Set Memory ID Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer Clarify": {
      "main": [
        [
          {
            "node": "Clean and Chunk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Memory ID Session": {
      "main": [
        [
          {
            "node": "AI Summarizer Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer Overview": {
      "main": [
        [
          {
            "node": "Clean and Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer Deep-dive": {
      "main": [
        [
          {
            "node": "Format for Telegram Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Only Search Result1": {
      "main": [
        [
          {
            "node": "Merge Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Only Search Result2": {
      "main": [
        [
          {
            "node": "Merge Sources1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Detect User Intent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "n8n Community Fetch JSON": {
      "main": [
        [
          {
            "node": "Get Only n8n community Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer Overview",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Detect User Intent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Summarizer Clarify",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram Output": {
      "main": [
        [
          {
            "node": "Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search page (no time)": {
      "main": [
        [
          {
            "node": "Get Only Reddit Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Only Reddit Search Result": {
      "main": [
        [
          {
            "node": "Merge Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger - User Message": {
      "main": [
        [
          {
            "node": "Detect User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open link Reddit or n8n Comunity?": {
      "main": [
        [
          {
            "node": "If Reddit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If n8n Community?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search page JSON (has time)": {
      "main": [
        [
          {
            "node": "Get Only Reddit Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Only n8n community Search Result": {
      "main": [
        [
          {
            "node": "Merge Search Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reddit Search page JSON (no keyword)": {
      "main": [
        [
          {
            "node": "Get Only Reddit Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model jaynguyena01": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer Deep-dive",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Monitor n8n community and Reddit discussions in Telegram with Gemini and Groq",
  "id": "8573"
}